<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">培训管理
            <small>| 研修院计划实施列表</small>
        </h3>
    </div>
</div>
<div class="planing-box">
    <div class="form-box">
        <div class="select-body">
            <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
                <cui-data-table #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData" selectType="checkbox"
                    [(selection)]="selection" (reload)="loadData($event)">
                    <ng-template #simpleSearch>
                        <ng-container>
                            <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                                <div nz-row class="cui-data-table-form-body">
                                    <div nz-form-control>
                                        <nz-input formControlName="name" [nzPlaceHolder]="'计划名称...'"> </nz-input>
                                    </div>
                                    <div class='simple-search-bar-search-box'>
                                        <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                                            <i class="fa fa-search"></i>查询</button>
                                        <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </ng-template>

                    <ng-template #complexSearch>
                        <ng-container>
                            <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                                <div nz-row class="cui-data-table-form-body">
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="name">计划名称</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <nz-input formControlName="name" [nzPlaceHolder]="'请输入计划名称'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="planTypes">计划分类</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <nz-select [nzMode]="'multiple'" formControlName="planTypes" [nzPlaceHolder]="'请选择计划类型'" [nzNotFoundContent]="'无法找到'">
                                                    <nz-option [nzLabel]="'境内内部'" [nzValue]="'CT'">
                                                    </nz-option>
                                                    <nz-option [nzLabel]="'境内外部'" [nzValue]="'CD'">
                                                    </nz-option>
                                                    <nz-option [nzLabel]="'境外内部'" [nzValue]="'OT'">
                                                    </nz-option>
                                                    <nz-option [nzLabel]="'境外外部'" [nzValue]="'OD'">
                                                    </nz-option>
                                                    <nz-option [nzLabel]="'课件研发'" [nzValue]="'RE'">
                                                    </nz-option>
                                                    <nz-option [nzLabel]="'其他'" [nzValue]="'EL'">
                                                    </nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="">填报单位</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <spk-user-group-select mode="multiple" formControlName="userGroup" [(ngModel)]="searchBy.userGroup"></spk-user-group-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="">计划年份</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-select nzAllowClear [nzPlaceHolder]="'请选择计划年份'" formControlName="planYear" [nzShowSearch]="true">
                                                <nz-option [nzLabel]="nowYear-2" [nzValue]="nowYear-2">
                                                </nz-option>
                                                <nz-option [nzLabel]="nowYear-1" [nzValue]="nowYear-1">
                                                </nz-option>
                                                <nz-option [nzLabel]="nowYear" [nzValue]="nowYear">
                                                </nz-option>
                                                <nz-option [nzLabel]="nowYear+1" [nzValue]="nowYear+1">
                                                </nz-option>
                                                <nz-option [nzLabel]="nowYear+2" [nzValue]="nowYear+2">
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="">执行状态</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-select nzAllowClear [nzPlaceHolder]="'请选择执行状态'" formControlName="executingState" [nzShowSearch]="true">
                                                <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                                <nz-option [nzLabel]="'未执行'" [nzValue]="'N'"></nz-option>
                                                <nz-option [nzLabel]="'已开班'" [nzValue]="'O'"></nz-option>
                                                <nz-option [nzLabel]="'已执行'" [nzValue]="'E'"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="">组织</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <spk-user-group-select mode="single" formControlName="userGroupId" [(ngModel)]="searchBy['userGroupId']"></spk-user-group-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cui-data-table-form-row">
                                        <div class='complex-search-bar-search-box'>
                                            <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                                                <i class="fa fa-search"></i>查询</button>
                                            <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=false">简单查询</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </ng-template>
                    <ng-template #listTools>
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-primary" (click)="batchimport($event)">批量导入培训学时</button> -->
                            <button type="button" class="btn btn-primary" (click)="addtrainplan($event)">
                                <i class="anticon anticon-plus"></i> 按计划生成培训班</button>
                            <!-- <button (click)="exporthour($event)" type="button" class="btn btn-primary">
                                <i class="anticon anticon-export"></i> 导出</button>
                            <button (click)="delete($event)" type="button" class="btn btn-primary">
                                <i class="anticon anticon-delete"></i> 删除</button> -->
                            <!-- 添加测试用 -->
                        </div>
                    </ng-template>
                    <ng-template cuiColTpl="planType" let-row="row">
                        <span>{{row.planType=='CT'?'境内内部':(row.planType=='CD'?'境内外部':(row.planType=='OT'?'境外内部':(row.planType=='OD'?'境外外部':(row.planType=='RE'?'课件研发':'其他'))))}}</span>
                    </ng-template>
                    <ng-template cuiColTpl="name" let-row="row">
                        <span>{{row.userGroup.name}}</span>
                    </ng-template>
                    <ng-template cuiColTpl="createdDate" let-row="row">
                        <span>{{row.createdDate|date:'yyyy-MM-dd HH:mm'}}</span>
                    </ng-template>
                    <ng-template cuiColTpl="executingState" let-row="row">
                        <span>{{row.executingState=='N'?'未执行':(row.executingState=='O'?'已开班':(row.executingState=='E'?'已执行':''))}}</span>
                    </ng-template>
                    <ng-template cuiColTpl="colapprovalstatus" let-row="row">
                        <span *ngIf="row.approvalStatus == 'N'">未提交</span>
                        <span *ngIf="row.approvalStatus == 'A'" class="text-warning">待审核</span>
                        <a *ngIf="row.approvalStatus == 'P'" class="text-warning">已通过</a>
                        <a *ngIf="row.approvalStatus == 'R'" class="text-warning">已拒绝</a>
                        <span *ngIf="row.approvalStatus == 'C'" class="text-warning">已取消</span>
                        <a *ngIf="row.approvalStatus == 'YA'" class="text-warning">研修院待审核</a>
                        <a *ngIf="row.approvalStatus == 'YP'" class="text-warning">研修院已通过</a>
                        <a *ngIf="row.approvalStatus == 'YR'" class="text-warning">研修院已拒绝</a>
                    </ng-template>
                    <ng-template cuiColTpl="colplanidentifier" let-row="row">
                        <span *ngIf="row.planIdentifier == 'P'">普通计划</span>
                        <span *ngIf="row.planIdentifier == 'L'">临时计划</span>
                        <span *ngIf="row.planIdentifier == 'Z'">指定计划</span>
                        <span *ngIf="row.planIdentifier == 'Y'">延续计划</span>
                        <span *ngIf="row.planIdentifier == 'F'">分配计划</span>
                    </ng-template>
                    <ng-template cuiColTpl="planname" let-row="row">
                        <div>
                            <a style="color:#007bbf" (click)="goView( row.annualPlanId, row.planType ,row.id,'view','trainplaning')">{{row.name}}</a>
                        </div>
                    </ng-template>
                </cui-data-table>
            </nz-spin>
        </div>
    </div>
</div>