:host ::ng-deep{
    .ant-modal{
        width: 800px!important;
    }
    .input{
        width: 314px;
        float: left;
        margin-right: 20px;
    }
  }
.down_down{
    position: absolute;
    right: 16px;
    top: 8px;
}
.up_up{
    position: absolute;
    right: 16px;
    bottom: 8px;
}
.up_down{
    position: relative;
    left: 0;
    top: 0;
}
.hiddenis{
    height: 38px;
    overflow: hidden;
}
:host ::ng-deep {
    .childrenplan-form-box {
        .childrenplan-form-body {
            width: 90%;
            margin: 0 auto;
        }
        .childrenplan-form-body2 {
            width: 800px;
            margin: 0 20%;
        }
    }
    .layout-tips {
        line-height: 28px;
        padding-left: 5px;
    }
    .ant-input-wrapper {
        width: 100%;
    }
    .ant-input-number {
        width: 100%;
    }
    .ant-select {
        width: 100%;
    }
    .tabs-box {
        margin-top: 20px;
    }
    // .tabs-body {
    //     width: 50%;
    //     margin: 0 auto;
    // }
    .ant-tabs-nav-container {
        text-align: center;
    }
    .tabs-body {
        width: 100%;
        margin: 0 auto;
        .ant-tabs-nav-container {
            text-align: center;
        }
        .li {
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            .ant-row {
                width: 47%!important;
                display: inline-block!important;
                min-height: 48px!important;
                margin: 5px!important;
                .ant-form-item-label {
                    label {
                        color: #666666!important;
                    }
                }
                .ant-form-item-control-wrapper {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .tabs-title {
        // text-align: center;
        margin-bottom: 15px;
        h3 {
            margin-left: 120px;
            color: #0269ca;
            font-size: 16px;
            &:before {
                content: '|';
                margin-right: 5px;
            }
        }
    }
    .add-center {
        text-align: center;
        margin: 10px 0;
        button {
            margin-right: 10px;
        }
    }
    .add-red {
        color: red;
        margin: 0 5px;
    }
    .add-btn-div {
        background: #f7f5f5;
        padding: 10px 0;
    }
    .lable-box {
        text-align: right;
        vertical-align: middle;
        line-height: 32px;
        overflow: hidden;
    }
    .input-box-li {
        margin-bottom: 24px;
    }
    .input-box {
        padding: 4px 7px;
        width: 100%;
        min-height: 28px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
        overflow: hidden;
        border-bottom: 1px solid #d9d9d9;
        border-radius: 4px;
        span {
            margin-left: 5px;
        }
    }
    .input-contoner {
        margin-left: 20px;
        // border-bottom: 1px solid #d9d9d9;
        min-height: 28px;
    }
}