:host::ng-deep{
    .employment-documents-add{
        .ant-row,.ant-form-item{
            width: 100%;
        }
        button{
            cursor: pointer;
        }
        .go-back{
            position:relative;
            display: inline-block;
            width:60px;
            height:30px;
            line-height: 30px;
            text-align: center;
            background: #e5e5e5;
            left:10px;
            cursor: pointer;
            border-radius: 6px;
        }
        .upload-file-custom{
            .input-placeholder{
                // line-height: 26px;
                span{
                    position:relative;
                    top:6px;
                }
            }
        }
    }
}