<div class="share-box-cost">
    <div class="select-body">
        <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
            <cui-data-table #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData" selectType="checkbox"
                [(selection)]="selection" (reload)="loadData($event)">

                <ng-template #simpleSearch>
                    <ng-container>
                        <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                            <div nz-row class="cui-data-table-form-body">
                                <div nz-form-control>
                                    <nz-select style="width:170px" formControlName="apportionType" [nzPlaceHolder]="'请选择费用名称'" nzAllowClear [nzShowSearch]="true">
                                        <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                        <nz-option [nzLabel]="'主办方承担费用'" [nzValue]="'M'">
                                        </nz-option>
                                        <nz-option [nzLabel]="'平均分摊费用'" [nzValue]="'A'">
                                        </nz-option>
                                        <nz-option [nzLabel]="'特殊学员承担费用'" [nzValue]="'U'">
                                        </nz-option>
                                    </nz-select>
                                    <!-- <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"> </nz-input> -->
                                </div>
                                <div class='simple-search-bar-search-box'>
                                    <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                                        <i class="fa fa-search"></i>查询</button>
                                    <!-- <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button> -->
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>

                <ng-template #complexSearch>
                    <ng-container>
                        <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                            <div nz-row class="cui-data-table-form-body">
                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="username">用户名</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                                        </div>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <div nz-form-label nz-col [nzSpan]="6">
                                        <label for="">姓名</label>
                                    </div>
                                    <div nz-col [nzSpan]="18">
                                        <nz-input formControlName="displayName" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="">组织</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <spk-user-group-select mode="multiple" formControlName="userGroup"></spk-user-group-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="cui-data-table-form-row">
                                    <div class='complex-search-bar-search-box'>
                                        <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                                            <i class="fa fa-search"></i>查询</button>
                                        <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=false">简单查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>

                <ng-template #listTools>
                    <div class="btn-group min-height">
                        <!-- <span style="line-height:28px;margin-right:4px;display:inline-block;color:red">费用审核状态：{{'未审核'}}</span> -->
                        <button [disabled]="apportionFeeStatus" (click)="showmodal()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="iconfont icon-tianjia-copy"></i> 添加</span>
                        </button>
                        <button [disabled]="apportionFeeStatus" (click)="mutipledelete()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="iconfont icon-shanchu"></i> 删除</span>
                        </button>

                        <button (click)="sharecost()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="anticon anticon-share-alt"></i> 分摊费用</span>
                        </button>
                        <button (click)="handelRevokeReview()" nz-button [nzType]="'primary'" *spkAuthzIf="{hasPermission: 'TRAINING:ENDCLASS:CANCEL_CHECK'}">
                            <span>
                                <i class="anticon anticon-share-alt"></i>撤销分摊费用</span>
                        </button>
                    </div>

                </ng-template>
                <ng-template cuiColTpl="apportionType" let-row="row">
                    <span>{{row.apportionType=="M"?"主办方承担费用":row.apportionType=="A"?"平均分摊费用":"特殊学员承担费用"}}</span>
                </ng-template>
                <ng-template cuiColTpl="username" let-row="row">
                    <span>{{row.user?row.user.username:'--'}}</span>
                </ng-template>
                <ng-template cuiColTpl="displayName" let-row="row">
                    <span>{{row.user?row.user.displayName:'--'}}</span>
                </ng-template>
                <ng-template cuiColTpl="price" let-row="row">
                    <span>{{row.fee}}</span>
                </ng-template>
                <ng-template cuiColTpl="group" let-row="row">
                    <span>{{row.userGroup?row.userGroup.name:''}}</span>
                </ng-template>
                <ng-template cuiColTpl="actions" let-row="row">
                    <i *ngIf="!apportionFeeStatus" title="编辑" (click)="viewdetail(row.id)" class="iconfont icon-bianji-copy" style="cursor:pointer;color:#007bbf;"></i>
                    <i *ngIf="apportionFeeStatus" title="分摊完成不可编辑" class="iconfont icon-bianji-copy" style="cursor:pointer;color:#666;"></i>
                </ng-template>
            </cui-data-table>
        </nz-spin>
    </div>
</div>

<nz-modal [nzZIndex]="1001" [nzFooter]="false" *ngIf="isVisible" [nzVisible]="isVisible" [nzTitle]="'添加费用'" [nzContent]="modalContent"
    (nzOnCancel)="handleCancel($event)">
    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <nz-spin [nzSpinning]="editspinning" [nzTip]="'正在读取数据...'">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="7">
                        <label nz-form-item-required>费用名称</label>
                    </div>
                    <div nz-col nz-form-control [nzSpan]="12" [nzValidateStatus]="validateForm.controls.apportionType">
                        <!-- <nz-input formControlName="pricename" [nzType]="'text'" [nzPlaceHolder]="'请选择费用名称'" [nzSize]="'large'">
                </nz-input> -->
                        <nz-select [(ngModel)]="selectedOption" formControlName="apportionType" [nzPlaceHolder]="'请选择费用名称'" nzAllowClear [nzShowSearch]="true">
                            <nz-option [nzLabel]="'主办方承担费用'" [nzValue]="'M'">
                            </nz-option>
                            <nz-option [nzLabel]="'特殊学员承担费用'" [nzValue]="'U'">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="validateForm.controls.apportionType.dirty&&validateForm.controls.apportionType.hasError('required')">请选择费用名称!</div>
                    </div>
                </div>

                <div *ngIf="selectedOption=='U'" nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="7">
                        <label nz-form-item-required>人员</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="validateForm.controls.userIds">
                        <spk-teacher-lookup [offeringId]="trainId" (remove)="remove($event)" formControlName="userIds" placeholder="请选择人员"></spk-teacher-lookup>
                        <!-- <spk-user-lookup formControlName="userIds" placeholder="请选择人员"></spk-user-lookup> -->
                        <div nz-form-explain *ngIf="validateForm.controls.userIds.dirty&&validateForm.controls.userIds.hasError('required')">班级负责人不能为空</div>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="7">
                        <label nz-form-item-required>费用金额</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="validateForm.controls.fee">
                        <nz-input formControlName="fee" [nzType]="'text'" [nzPlaceHolder]="'请输入费用金额'" [nzSize]="'large'">
                        </nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.fee.dirty&&validateForm.controls.fee.hasError('required')">请输入金额!</div>
                        <div nz-form-explain *ngIf="validateForm.controls.fee.dirty&&validateForm.controls.fee.hasError('pattern')">输入有误!</div>

                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="7" nz-form-label>
                        <label>描述</label>
                    </div>
                    <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="validateForm.controls.description">
                        <nz-input formControlName="description" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'请写入描述'" [nzSize]="'large'">
                        </nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.description.dirty&&validateForm.controls.description.hasError('maxlength')">描述不能超过500字!</div>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
                        <button [nzLoading]="submitloading" nz-button [nzType]="'primary'" [nzSize]="'large'">提交</button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
                    </div>
                </div>
            </nz-spin>
        </form>
    </ng-template>
</nz-modal>
<nz-modal [nzConfirmLoading]="sharesubmitLoading" [nzWidth]="800" *ngIf="isshareVisible" [nzVisible]="isshareVisible" [nzTitle]="'分摊费用'"
    [nzContent]="modalContent" [nzFooter]="!apportionFeeStatus" (nzOnCancel)="handleCancelShareModal($event)" class="share-modal"
    (nzOnOk)="handleOkShareModal($event)">
    <ng-template #modalContent>
        <nz-tabset (nzSelectChange)="changetable($event)">
            <nz-tab>
                <ng-template #nzTabHeading>
                    {{'分摊费用列表'}}
                </ng-template>
                <nz-spin *ngIf="indexTable==0" [nzSpinning]="shareSpinning" [nzTip]="'正在读取数据...'">
                    <div class="data-top">可分配费用为：{{sharfee}}</div>
                    <div class="no-data" *ngIf="!(shareListData&&shareListData.length)">
                        <i class="iconfont icon-frowno"></i>
                        <span>暂无分摊人员数据！</span>
                    </div>
                    <div *ngIf="shareListData&&shareListData.length" class="cost-table-list">
                        <table>
                            <thead>
                                <tr>
                                    <td>员工编号</td>
                                    <td>员工姓名</td>
                                    <td>费用类型名称</td>
                                    <td>费用类型</td>
                                    <td>费用金额</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of shareListData;let i = index">
                                    <td>{{item.user.username}}</td>
                                    <td>{{item.user.displayName}}</td>
                                    <td>{{item.apportionType=='A'?'平均':(item.apportionType=='U'?'个人承担费用':'主办方承担费用')}}</td>
                                    <td>{{item.apportionType? item.apportionType :'--'}}</td>
                                    <td>{{item.fee}}</td>
                                    <td>
                                        <input [readonly]="apportionFeeStatus" type="number" min="0" [value]="item.fee" (input)="anginchangeInput($event,item,item.user.id)">
                                        <!-- <i style="color:red;cursor:pointer;" title="删除" class="anticon anticon-delete"></i> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nz-spin>
            </nz-tab>
            <nz-tab *ngIf="apportionFeeStatus">
                <ng-template #nzTabHeading>
                    {{'费用一览表'}}
                </ng-template>
                <spk-feelist *ngIf="indexTable==1"></spk-feelist>
            </nz-tab>
        </nz-tabset>


    </ng-template>
</nz-modal>