<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">培训管理
            <small>| 推送AMIS情况统计表</small>
        </h3>
    </div>
</div>
<div class="red-class-list">
    <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
        <cui-data-table #tableHandle [columns]="columns" [data]="data?.content" [pagination]="data" [(selection)]="selection" (reload)="loadData($event)">

            <ng-template #complexSearch>
                <ng-container *ngTemplateOutlet="complexSearchBox"></ng-container>
            </ng-template>

            <ng-template #simpleSearch>
                <ng-container *ngTemplateOutlet="simpleSearchBox"></ng-container>
            </ng-template>
            <ng-template #listTools>
                <ng-container *ngTemplateOutlet="theListTools"></ng-container>
            </ng-template>
            <ng-template cuiColTpl="name" let-row="row">
                <span class="tb-name" [title]="row?.trainClassName ||'暂无'">{{row?.trainClassName ||'暂无'}}</span>
            </ng-template>
            <ng-template cuiColTpl="displayName" let-row="row">
                <span class="tb-disname" [title]="row?.displayName ||'暂无'">{{row?.displayName ||'暂无'}}</span>
            </ng-template>
            <ng-template cuiColTpl="pushDate" let-row="row">
                {{(row?.pushDate| date: 'yyyy-MM-dd') ||'---'}}
            </ng-template>
            <ng-template cuiColTpl="startDate" let-row="row">
                {{(row.startDate | date: 'yyyy-MM-dd')||'---'}}
            </ng-template>
            <ng-template cuiColTpl="endDate" let-row="row">
                {{(row.endDate | date: 'yyyy-MM-dd')||'---'}}
            </ng-template>
        </cui-data-table>
    </nz-spin>
</div>
<!-- <ng-template #simpleSearchBox>
  <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
    <div nz-row class="cui-data-table-form-body">
      <div nz-form-control>
        <nz-input formControlName="trainClassName" [nzPlaceHolder]="'培训班名称'"> </nz-input>
      </div>
      <div class='simple-search-bar-search-box'>
        <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                  <i class="fa fa-search"></i>查询</button>
        <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=true">高级查询</button>
      </div>
    </div>
  </form>
</ng-template> -->

<ng-template #complexSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
        <div class="cui-data-table-form-body">
            <div nz-row>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="trainClassName">培训班名称</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="trainClassName" [nzPlaceHolder]="'请输入培训班名称'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="userGroupId">机构名称</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <spk-user-group-select mode="multiple" formControlName="userGroupId"></spk-user-group-select>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="username">用户名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="displayName">姓名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="displayName" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="startDate">开始时间</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-datepicker formControlName="startDate" [nzPlaceHolder]="'请选择开始时间'" style="width:100%;"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="endDate">结束时间</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-datepicker formControlName="endDate" [nzPlaceHolder]="'请选择结束时间'" style="width:100%;"></nz-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cui-data-table-form-row">
                <div class='complex-search-bar-search-box'>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                        <i class="fa fa-search"></i>查询</button>
                    <!-- <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=false">简单查询</button> -->
                </div>
            </div>
        </div>
    </form>
</ng-template>
<ng-template #theListTools>
    <button [nzLoading]="load" nz-button [nzType]="'primary'" (click)="exportData()">导出数据</button>
</ng-template>