<ng-container *ngIf="echoTpl || inputControlEchoTpl" [ngTemplateOutlet]="echoTpl || inputControlEchoTpl" [ngTemplateOutletContext]="{value: value}">
</ng-container>
<ng-template #inputControlEchoTpl>
    <div *ngIf="!echoTpl" class="ant-select ant-select-show-search2" [ngClass]="{'ant-select-enabled': !disabled, 'ant-select-disabled': disabled}"
        [style]="style" [style.width]="'100%'">
        <div class="ant-select-selection" [ngClass]="{'ant-select-selection--multiple': mode=='multiple', 'ant-select-selection--single': mode=='single'}"
            (click)="!disabled && openLookup()">
            <div class="ant-select-selection__rendered">
                <div *ngIf="!_value || _value?.length == 0" class="ant-select-selection__placeholder">{{placeholder}}</div>
                <div *ngIf="overflow && _value?.length > overflow" class="ant-select-selection__placeholder text-secondary">您已选择{{_value.length}}个用户</div>
                <ul *ngIf="isMultiple && (!overflow || _value?.length <= overflow)">
                    <li *ngFor="let u of _value" class="ant-select-selection__choice ng-trigger ng-trigger-tagAnimation">
                        <div class="ant-select-selection__choice__content">{{u.displayName}}</div>
                        <span *ngIf="!hideDelete" class="ant-select-selection__choice__remove" style="top: 0;" (click)="_remove($event,u,_value)"></span>
                    </li>
                    <!-- <li class="ant-select-search ant-select-search--inline">
                      <div class="ant-select-search__field__wrap">
                          <input type="text" class="ant-select-search__field ng-pristine ng-valid ng-touched">
                          <span class="ant-select-search__field__mirror"></span>
                      </div>
                  </li> -->
                </ul>
                <div *ngIf="!isMultiple && (_value && _value.length > 0)" class="ant-select-selection__placeholder text-secondary">{{_value[0].displayName}}</div>
            </div>
            <span *ngIf="!isMultiple && (_value && _value.length > 0)" class="ant-select-selection__clear ng-star-inserted" (click)="clear($event)"></span>
            <span class="ant-select-arrow"></span>
        </div>
    </div>
</ng-template>

<ng-template #lookupModalTitle>
    <h5>选择用户</h5>
</ng-template>
<ng-template #lookupModalContent>
    <div>
        <nz-tabset [nzSize]="small" [(nzSelectedIndex)]="currentTab" (nzSelectChange)="_tabChange($event)">
            <nz-tab>
                <ng-template #nzTabHeading>
                    快捷添加
                </ng-template>
                <ng-container *ngIf="currentTab==0" [ngTemplateOutlet]="quickAdd"></ng-container>
            </nz-tab>
            <nz-tab>
                <ng-template #nzTabHeading>
                    选择用户
                </ng-template>
                <ng-container *ngIf="currentTab==1" [ngTemplateOutlet]="userSelect"></ng-container>
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <!-- <a> <i class="anticon anticon-solution"></i> 查看已选人员</a> -->
            </ng-template>
        </nz-tabset>
    </div>
</ng-template>
<ng-template #lookupModalFooter>
    <div class="text-right">
        <button [disabled]="tableLoading" type="button" class="btn btn-primary" (click)="_ok()"> 确 定 </button>
        <button type="button" class="btn btn-light" (click)="_cancel()"> 取 消 </button>
    </div>
</ng-template>

<ng-template #quickAdd>
    <div style="min-height: 280px; overflow: auto;">
        <div style="overflow:hidden">
            <div style="float:left;width:65%;">
                <!-- (nzBlur)="blurSearch($event)" -->
                <nz-input [(ngModel)]="inputUsernames" (keydown)="keydownSearch($event)" [nzType]="'textarea'" [nzRows]="'5'" [nzPlaceHolder]="'请输入一组用户名后，点击开始校验'"></nz-input>
            </div>
            <div style="float:left;width:30%;margin-left:10px;">
                <nz-alert [nzType]="'warning'" [nzShowIcon]="true" [nzBanner]="true">
                    <div alert-body>
                        <h5>注意事项</h5>
                        <ul>
                            <li>1. 该功能只支持按用户名添加</li>
                            <li>2. 用户名可以用如下字符分割 ',' ';' ':'</li>
                            <li>3. 不要输入大量的用户名，最好不要超过200条</li>
                        </ul>
                    </div>
                </nz-alert>
            </div>
        </div>

        <!-- <a class="text-primary my-4 d-inline-block" (click)="verifyUsernames()">开始校验</a> -->
        <!-- <button type="button" class="my-4" nz-button nzType="primary" (click)="verifyUsernames()">开始校验</button> -->
        <div style="margin-top:10px">
            <nz-alert [nzType]="'info'" [nzMessage]="'请输入一组用户名后，按回车键“开始校验”, 校验无误后点击“确定”完成操作'" [nzShowIcon]="true"></nz-alert>
        </div>
        <div style="margin-top:6px" *ngIf="usernameVerifiedResults?.length > 0">
            <div *ngIf="usernameVerifiedSuccess&&usernameVerifiedSuccess.length">
                <h5 class="text-success mb-3">
                    <i class="anticon anticon-check-circle-o"></i> 正确的用户</h5>
                <div style="overflow:hidden">
                    <ul style="overflow:hidden">
                        <li *ngFor="let item of usernameVerifiedSuccess" style="float:left;padding:4px 6px;background:#007afa;color:#fff;font-size:12px;font-weight:600;font-family:'Microsoft YaHei';border-radius:4px;margin-left:8px">
                            <span>{{item.userInfo?.username}}</span>
                            <span style="padding-left:8px">{{item.userInfo.displayName}}</span>
                            <span *ngIf="item?.userInfo?.site?.name" style="padding-left:12px">【{{item?.userInfo?.site?.name||'暂无'}}】</span>
                            <span title="删除" style="cursor:pointer;font-size:14px;padding-left:8px" (click)="deleteUser($event,item)">x</span>
                        </li>
                    </ul>
                </div>
                <!-- <nz-tag *ngFor="let item of usernameVerifiedSuccess" [nzColor]="'green'">{{item.username}}</nz-tag> -->
            </div>
            <div class="mt-4" *ngIf="usernameVerifiedError&&usernameVerifiedError.length">
                <h5 class="text-danger mb-3">
                    <i class="anticon anticon-close-circle-o"></i> 错误的用户</h5>
                <div style="overflow:hidden">
                    <ul style="overflow:hidden">
                        <li *ngFor="let item of usernameVerifiedError" style="float:left;padding:4px 6px;background:#fa0005;color:#fff;font-size:12px;font-weight:600;font-family:'Microsoft YaHei';border-radius:4px;margin-left:8px">
                            <span>{{item.username}}</span>
                            <span title="删除" style="cursor:pointer;font-size:14px;padding-left:12px" (click)="deleteErrorUser($event,item)">x</span>
                        </li>
                    </ul>
                </div>
                <!-- <nz-tag *ngFor="let item of usernameVerifiedError" [nzColor]="'red'">{{item.username}}</nz-tag> -->
            </div>
        </div>


    </div>
</ng-template>

<ng-template #userSelect>
    <div>
        <cui-layout>
            <cui-layout-sider style="background: #ffffff;" [width]="">
                <div style="height: 480px; overflow-y: auto;">
                    <spk-user-group-tree (selectionChange)="onUgSelectionChange($event)"></spk-user-group-tree>
                </div>
            </cui-layout-sider>
            <cui-layout>
                <cui-layout-content>
                    <div class="px-4">
                        <ng-container [ngTemplateOutlet]="userSelectList"></ng-container>
                    </div>
                </cui-layout-content>
            </cui-layout>
        </cui-layout>
    </div>
</ng-template>

<ng-template #userSelectList>
    <div style="min-height: 200px;">
        <nz-alert *ngIf="selection && selection.length > 0" [nzType]="'info'">
            <span alert-body>已选择 {{ selection.length}} 个用户，请点击确定按钮完成操作</span>
            <span alert-description>
                <ul *ngIf="selection && selection.length" class="d-flex">
                    <li *ngFor="let sel of selection" class="user-list-choice">
                        <span>{{sel.displayName}}</span>
                        <span class="user-list-choice-remove">
                            <i class="fa fa-close"></i>
                        </span>
                    </li>
                </ul>
            </span>
        </nz-alert>

        <cui-data-table #userTable [columns]="columns" [data]="users" [pagination]="pagination" [loading]="tableLoading" [selectType]="isMultiple ? 'checkbox' : 'radio'"
            (reload)="loadData($event)" [(selection)]="selection" (selectionChange)="userSelectionChange($event)" [dynamicColumns]="false">
            <ng-template #simpleSearch>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="searchtext" [(ngModel)]="searchtext" placeholder="请输入用户名、姓名或邮箱">
                    </div>
                    <div class="form-group ml-3">
                        <label nz-checkbox [(ngModel)]="withChildGroup" name="withChildGroup">
                            <span>包含子组织</span>
                        </label>
                    </div>
                    <div class="form-group ml-2">
                        <button type="button" class="btn btn-primary" (click)="loadData()">搜索</button>
                    </div>
                </form>
                <button style="position:absolute;right:12px;top:0px" [disabled]="tableLoading" type="button" class="btn btn-primary" (click)="_ok()">
                    确 定 </button>
            </ng-template>

            <ng-template cuiColTpl="sex" let-row="row">
                <span>{{row.sex == 'MALE' ? '男' : '女'}}</span>
            </ng-template>
            <ng-template cuiColTpl="statusCol" let-row="row">
                <span class="text-success" *ngIf="row.status=='ACTIVE'">正常</span>
                <span class="text-danger" *ngIf="row.status=='LOCKED'">锁定</span>
            </ng-template>

        </cui-data-table>
    </div>
</ng-template>

<!-- <nz-select [nzMode]="'multiple'" [nzPlaceHolder]="''" [nzAllowClear]="true" [hidden]="true"></nz-select> -->