:host::ng-deep{
    .train-class-file{
        .list-tool-bar{
            height:38px;
            width:40px;
        }
        .complex-search-bar-search-box{
            left:60px;
        }
    }
}