// Color
$primary-color: #388ecb;
$titleHeight: 55px;
$headBorderColor: #1c6ea0;
$active-color: #fa9700;
$font-active-color: #6d4709;
// ------ Base & Require ------
$body-font-color: #333;
$body-background: #fff;
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Helvetica,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
SimSun,
sans-serif;
$max-width: 1280px;