<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">策略管理
            <small>管理系统的策略模板</small>
        </h3>
    </div>
    <div class="page-tab">
        <nz-tabset>
            <nz-tab (nzSelect)="loadSite()">
                <ng-template #nzTabHeading>
                    站点策略
                </ng-template>
            </nz-tab>
            <!-- <nz-tab (nzSelect)="loadUserGroup()">
                <ng-template #nzTabHeading>
                    组织策略
                </ng-template>
            </nz-tab> -->
        </nz-tabset>
    </div>
    <div class="page-body">
        <router-outlet></router-outlet>
    </div>
</div>