<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">计划管理
            <small>| 基础管理</small>
            <small>| 编辑研修院</small>
        </h3>
        <div class="actions pull-right">
            <button [routerLink]="['../','list']" type="button" class="btn btn-light">
                <span>
                    返回列表
                    <i class="fa fa-level-up"></i>
                </span>
            </button>
        </div>
    </div>

    <div class="page-body">
        <div class="container">
            <!-- <div class="card"> -->
            <!-- <div class="card-body"> -->
            <div nz-row class='add-center'>
                带
                <span class='add-red'>*</span>为必填项
            </div>
            <form nz-form [formGroup]="validateForm" class="add-form-box">

                <div nz-row nz-form-item>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="name" nz-form-item-required> 名称</label>
                    </div>
                    <div nz-form-control [nzValidateStatus]="validateForm.controls.name" nz-col [nzSpan]="12">
                        <nz-input formControlName="name"></nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">请输入研修院名称！</div>
                    </div>
                </div>
                <div nz-row nz-form-item>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="userGroup" nz-form-item-required>所属组织</label>
                    </div>
                    <div nz-form-control [nzValidateStatus]="validateForm.controls.userGroup" nz-col [nzSpan]="12">
                        <spk-user-group-select [isRegion]="true" formControlName="userGroup" [(ngModel)]="trainingSchool.userGroup"></spk-user-group-select>
                        <div nz-form-explain *ngIf="validateForm.controls.userGroup.dirty&&validateForm.controls.userGroup.hasError('required')">请选择组织！</div>
                    </div>
                </div>
                <div nz-row class='add-center add-btn-div'>
                    <button nz-button *ngIf="submitLoading == true" [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="true">确定</button>
                    <button nz-button (click)="_submitForm($event,validateForm.value)" *ngIf="submitLoading == false" type="button" [nzSize]="'large'">确定</button>
                    <button nz-button type="button" [nzSize]="'large'" [routerLink]="['../list']">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>