<div class="research-fee">
    <div class="select-body">
        <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
            <div class="base-cost-title">
                <div>预算费用余额：
                    <span class="color">{{feedetailData}}元</span>
                </div>
            </div>
            <cui-data-table #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData" selectType="checkbox"
                [(selection)]="selection" (reload)="loadData($event)">

                <ng-template #simpleSearch>
                    <ng-container>
                        <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                            <div nz-row class="cui-data-table-form-body">
                                <div nz-form-control>
                                    <nz-input formControlName="trainFeeType" [nzPlaceHolder]="'请输入费用类型'"> </nz-input>
                                </div>
                                <div class='simple-search-bar-search-box'>
                                    <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                                        <i class="fa fa-search"></i>查询</button>
                                    <!-- <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button> -->
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>


                <ng-template #listTools>
                    <div class="btn-group min-height">
                        <!-- <span style="line-height:28px;margin-right:4px;display:inline-block">费用复核状态：{{'未申请'}}</span> -->

                        <button [disabled]="devStatus=='END'|| devStatus=='CANCEL'" (click)="showmodal()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="iconfont icon-tianjia" style="font-size:12px"></i> 添加</span>
                        </button>
                        <button [disabled]="devStatus=='END'|| devStatus=='CANCEL'" (click)="mutipledelete()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="iconfont icon-shanchu"></i> 删除</span>
                        </button>

                    </div>

                </ng-template>

                <ng-template cuiColTpl="description" let-row="row">
                    <span>{{row.description}}</span>
                </ng-template>
                <ng-template cuiColTpl="branches" let-row="row">
                    <span>{{row.trainFeeType.name}}</span>
                </ng-template>
                <ng-template cuiColTpl="price" let-row="row">
                    <span>{{row.fee|| '0.00'}}</span>
                </ng-template>
                <ng-template cuiColTpl="createDate" let-row="row">
                    <span>{{row.createdDate}}</span>
                </ng-template>
                <ng-template cuiColTpl="createBy" let-row="row">
                    <span>{{row.createdBy.displayName}}</span>
                </ng-template>
                <ng-template cuiColTpl="isFromSAP" let-row="row">
                    <span *ngIf="row.isFromSAP" style="color:red">是</span>
                    <span *ngIf="!row.isFromSAP" style="color:green">否</span>
                </ng-template>
                <ng-template cuiColTpl="actions" let-row="row">
                    <!-- 只要为true就不可以进行编辑 -->
                    <i title="编辑" *ngIf="devStatus!='END'&& devStatus!='CANCEL'" (click)="viewdetail(row.id)" class="iconfont icon-bianji-copy"
                        style="cursor:pointer;color:#007bbf;"></i>

                    <i title="不可编辑" *ngIf="devStatus=='END'|| devStatus=='CANCEL'" class="iconfont icon-bianji-copy" style="cursor:pointer;color:#666;"></i>
                </ng-template>


            </cui-data-table>
        </nz-spin>
    </div>
    <!-- <div class="fee-message-detail">
        <div class="title">研发项目金费明细</div>
        <div class="detail">
            <table>
                <thead>
                    <tr>
                        <td>里程进度</td>
                        <td>参与人数</td>
                        <td>人天标准</td>
                        <td>费用总预算</td>
                        <td>交通费</td>
                        <td>研发费用</td>
                        <td>会议费</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <nz-progress [ngModel]="50" [nzStrokeWidth]="5" [nzStatus]="'active'"></nz-progress>
                        </td>
                        <td>{{15}} 人</td>
                        <td>{{222}}</td>
                        <td>{{12}}</td>
                        <td>{{34}}</td>
                        <td>{{43}}</td>
                        <td>{{56}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>
<!-- 编辑添加 -->
<nz-modal *ngIf="isVisible" [nzFooter]="false" [nzVisible]="isVisible" [nzTitle]="'添加费用'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)"
    (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <nz-spin [nzTip]="'正在读取数据...'" [nzSpinning]="editspinning">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="7">
                        <label nz-form-item-required>费用类型</label>
                    </div>
                    <div nz-col nz-form-control [nzSpan]="12" [nzValidateStatus]="validateForm.controls.trainFeeType">
                        <nz-select formControlName="trainFeeType" [nzPlaceHolder]="'请选择费用'" nzAllowClear [nzShowSearch]="true">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.name" [nzValue]="option.id">
                            </nz-option>
                        </nz-select>
                        <!-- <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'请选择费用名称'" [nzSize]="'large'"> -->
                        <!-- </nz-input> -->
                        <div nz-form-explain *ngIf="validateForm.controls.trainFeeType.dirty&&validateForm.controls.trainFeeType.hasError('required')">请输入费用名称!</div>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="7">
                        <label nz-form-item-required>费用金额</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="validateForm.controls.fee">
                        <nz-input formControlName="fee" [nzType]="'text'" [nzPlaceHolder]="'请输入费用金额'" [nzSize]="'large'">
                        </nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.fee.dirty&&validateForm.controls.fee.hasError('required')">请输入金额!</div>
                        <div nz-form-explain *ngIf="validateForm.controls.fee.dirty&&validateForm.controls.fee.hasError('pattern')">输入有误!</div>

                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="7" nz-form-label>
                        <label>描述</label>
                    </div>
                    <div nz-col [nzSpan]="12" nz-form-control>
                        <nz-input formControlName="description" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'请写入描述'" [nzSize]="'large'">
                        </nz-input>
                    </div>
                </div>

                <div nz-form-item nz-row>
                    <div nz-col [nzOffset]="10" [nzSpan]="12" nz-form-control>
                        <button [nzLoading]="submitloading" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">提交</button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
                    </div>
                </div>
            </nz-spin>
        </form>
    </ng-template>
</nz-modal>