/*
 * @Author: mozhengqian
 * @Date: 2017-11-07 10:58:07
 * @Last Modified by: mozhengqian
 * @Last Modified time: 2017-11-15 11:13:38
 */

:host::ng-deep {
  .center {
    text-align: center;
  }
  .radio-item {
    margin: 0 5px;
    input {
      cursor: pointer;
    }
  }
  .test-add-form-row {
    .radio-group-box {
      display: inline-block !important;
      margin-left: 15px;
    }
    .ant-checkbox-group {
      position: absolute;
      left: 0px;
      top: 15px;
      .ant-checkbox-wrapper {
        line-height: 80px;
        display: block;
        margin-bottom: 15px;
      }
    }
    .ant-radio-group {
      display: block;
    }
    .label-box {
      margin-bottom: 15px;
      line-height: 80px;
      .i-box {
        text-align: center;
        i {
          font-size: 18px;
          cursor: pointer;
          margin-right: 10px;
        }
      }
      .blue {
        color: #007bff;
      }
      .red {
        color: red;
      }
    }
    .label-title {
      display: inline-block;
    }
  }
  .test-add-search {
  }
  .test-add-content {
    .ant-card {
      width: 90%;
      margin: 15px auto;
      .ant-card-extra {
        top: 8px;
      }
    }
  }
  .test-add-btn-box {
    text-align: center;
    .search-btn {
      height: 30px;
    }
  }
}
