<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">{{trainingName}}: 培训班风采
            <small>设置培训班首页图片轮播推荐内容</small>
        </h3>

        <div class="actions pull-right">
        </div>
    </div>

    <div class="page-body">
        <div class="p-4 text-center bg-light border-secondary mb-4 text-secondary" style="cursor:pointer;" (click)="addBanner();">
            <i class="fa fa-2x fa-plus"></i>
        </div>

        <div *ngFor="let banner of trainClassBanners">
            <ng-container *ngTemplateOutlet="trainClassBannerItem; context: {banner: banner}"></ng-container>
        </div>
    </div>
</div>

<ng-template #trainClassBannerItem let-banner="banner">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div class="image">
                    <!-- <img [src]="banner.imageUrl" [alt]="banner.name" width="500" height="160"> -->
                    <cui-fileupload [imageHolder]="banner.imageUrl" mode="image" [maxFileSize]="1024*1024*5" name="files" url="/api/upload/files"
                        accept=".jpg,.bmp,.png" [auto]="true" (uploadComplete)="onImageUpload($event,banner)"></cui-fileupload>
                    <div class="text-muted">
                        <i class="fa fa-info-circle text-info"></i> 可以在此处上传Banner图片。 格式应为 JPG, BMP 或 PNG, 大小不能超过 5MB。 图片尺寸建议最小960*400，比例12:5
                    </div>
                </div>
                <div class="info" style="width: 500px">
                    <form nz-form>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label for="name" nz-form-item-required>文字标题</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="20">
                                <input type="text" nz-input name="name" [(ngModel)]="banner.name">
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>链接地址</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="20">
                                <input type="text" nz-input name="link" [(ngModel)]="banner.link">
                            </div>
                        </div>
                        <div nz-form-item nz-row *ngIf="banner.displayOrder">
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>排序</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="20">
                                <button type="button" class="btn btn-info" (click)="moveBanner(banner.id,'up')">
                                    <i class="fa fa-long-arrow-up"></i> 上移</button>
                                <button type="button" class="btn btn-info" (click)="moveBanner(banner.id,'down')">
                                    <i class="fa fa-long-arrow-down"></i> 下移</button>
                            </div>
                        </div>
                        <!-- <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>背景颜色</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="10">
                                <input type="text" nz-input name="backgroundColor" [(ngModel)]="banner.backgroundColor">
                            </div>
                            <div nz-form-control nz-col [nzSpan]="10" class="p-1">
                                <div style="width: 100%; height: 2rem;" [style.backgroundColor]="banner.backgroundColor"></div>
                            </div>
                        </div> -->
                    </form>
                </div>
                <div class="ml-auto">
                    <button nz-button [nzType]="'primary'"  [nzLoading]="loading" (click)="updateBanner(banner)">
                        <i class="fa fa-save"></i> 保存</button>
                    <button nz-button  [nzType]="'danger'"   (click)="deleteBanner(banner)">
                        <i class="fa fa-trash"></i> 删除</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>