:host ::ng-deep {
    .head-office-material-template {
        .ant-form-item-control {
            .ant-calendar-picker {
                width: 100%;
            }
        }
        .complex-search-bar-search-box {
            left: 40px;
        }
    }
}
.edit{
    cursor: pointer;
}