.container-fluid {
    padding-top: 1rem;
}

:host ::ng-deep {
    .edit-form-box {
        .add-select {
            width: 200px;
        }
        .ant-input-group {
            width: 200px;
        }
        .ant-input-number {
            width: 200px;
        }
    }
    .add-center {
        text-align: center;
        margin: 10px 0;
        button {
            margin-right: 10px;
        }
    }
    .add-red {
        color: red;
        margin: 0 5px;
    }
    .add-btn-div {
        background: #f7f5f5;
        padding: 10px 0;
    }
}