<cui-layout>
    <cui-layout-sider width="160" style="background:#f8f8fa">
        <div style="background: #f0f3fa;">
            <!-- <h5>{{trainingClass?.name}}</h5> -->
            <a class="text-center d-block p-4" [routerLink]="['../']">
                <i class="fa fa-angle-left"></i>
            </a>
        </div>

        <ul *ngIf="!menuIsCollapsed" nz-menu [nzMode]="'inline'" style="background:#f8f8fa">
            <li nz-menu-item [nzSelected]="rlaProperties.isActive">
                <a [routerLink]="['./', 'edit']" routerLinkActive #rlaProperties="routerLinkActive">基本信息</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'category']" routerLinkActive #rlaCondition="routerLinkActive">分类管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'condition']" routerLinkActive #rlaCondition="routerLinkActive">注册条件</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'enrollment']" routerLinkActive #rlaCondition="routerLinkActive">报名管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'works']" routerLinkActive #rlaCondition="routerLinkActive">作品管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaForum.isActive">
                <a [routerLink]="['./', 'forum']" routerLinkActive #rlaForum="routerLinkActive">讨论管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'votes']" routerLinkActive #rlaCondition="routerLinkActive">大众评选</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'auditor']" routerLinkActive #rlaCondition="routerLinkActive">审核人管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'notice-box']" routerLinkActive #rlaCondition="routerLinkActive">公告管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'messages']" routerLinkActive #rlaCondition="routerLinkActive">消息管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'experts']" routerLinkActive #rlaCondition="routerLinkActive">专家管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'awards']" routerLinkActive #rlaCondition="routerLinkActive">获奖作品管理</a>
            </li>
            <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                <a [routerLink]="['./', 'excellent-works']" routerLinkActive #rlaCondition="routerLinkActive">优秀作品管理</a>
            </li>
        </ul>
    </cui-layout-sider>

    <cui-layout>
        <cui-layout-content>
            <router-outlet></router-outlet>
        </cui-layout-content>
    </cui-layout>
</cui-layout>