<div class="main">
    <div class="container-fluid">
        <div class="page-header">
            <h3 class="page-title">{{programmanagementGroup?.name}}管理
                <small></small>
            </h3>

            <div class="actions pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" [routerLink]="['../add', {parentId: activeProgrammanagement?.id || ''}]">
                        <i class="fa fa-plus"></i> 创建分类</button>
                    <!--<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>-->
                    <div class="dropdown-menu dropdown-menu-right">

                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="card mb-3" *ngIf="activeProgrammanagement">
                <div class="card-body">
                    <h5 class="card-title d-inline-block">{{activeProgrammanagement?.name}}</h5>
                    <a class="d-inline-block ml-3" [routerLink]="['../',activeProgrammanagement.id, 'edit', {parentId: activeProgrammanagement?.parent?.id || ''}]">
                        <i class="fa fa-pencil"></i> 修改</a>
                    <a class="d-inline-block ml-3 text-danger" href="javascript:;" (click)="delete(activeProgrammanagement?.id)">
                        <i class="fa fa-trash"></i> 删除</a>
                    <p class="mb-0">{{activeProgrammanagement?.description || '暂无描述'}}</p>
                </div>
            </div>

            <ul class="nav nav-tabs mt-4 mb-3" id="pills-tab" role="tablist">
                <!-- <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">属性</a>
  </li> -->
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                        aria-expanded="true">子级分类</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row mb-2">
                        <div class="col">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="searchText" [(ngModel)]="searchText">
                                </div>
                                <div class="form-group ml-2">
                                    <button type="button" class="btn btn-primary" (click)="loadData()">搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <cui-data-table [columns]="columns" [data]="subProgrammanagements" selectType="checkbox" (select)="onSelect($event)">
                        <ng-template cuiColTpl="displaySort" let-row="row">
                            <a href="javascript:;">上移</a>
                            <span>|</span>
                            <a href="javascript:;">下移</a>
                        </ng-template>
                        <ng-template cuiColTpl="actions" let-row="row">
                            <div class="text-right">
                                <a title="编辑" [routerLink]="['../', row.id, 'edit', {parentId: activeProgrammanagement?.parent?.id || ''}]">
                                    <i style="font-size:16px" class="iconfont icon-bianji-copy"></i>
                                </a>
                                <span>|</span>
                                <a title="删除" href="javascript:;" class="text-danger" (click)="delete(row.id)">
                                    <i style="font-size:16px;;color:red" class="anticon anticon-delete"></i>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template #actionGroup>
                            <button class="btn btn-danger" [disabled]="!selected" (click)="delete()">批量删除</button>
                        </ng-template>
                    </cui-data-table>
                </div>
            </div>

        </div>
        <!-- /.page-body -->
    </div>
</div>
<!-- /.with-side .main -->