<div class="container-fluid">
  <div class="page-header">
    <h3 class="page-title">修改案例信息</h3>
    <div class="actions pull-right">
      <button class="btn btn-secondary" [routerLink]="['../../','list']">返回案例列表
        <i class="fa fa-level-up"></i>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="page-body">
    <div class="container">
      <cui-alert [value]="msg"></cui-alert>
      <spk-case-form *ngIf="!!caseInfo" [loading]="loading" [library]="false" [caseInfo]="caseInfo" (doSubmit)="onSubmit($event)"
        (cancel)="onCancel($event)"></spk-case-form>
    </div>
  </div>
</div>