<!-- <div class="container-fluid py-4 bg-light bg-faded" style="height: 100%;">
  <div class="card">
    <div class="card-body">
      <a href="#" class="pull-right">不再显示</a>
      <h3 class="card-title">欢迎使用 企慕课堂 - <small>部署版</small></h3>
      <p>我们为您准备了几个常用的功能：</p>
      <div class="row">
        <div class="col">
          <h5>开始使用</h5>
          <button type="button" class="btn btn-primary btn-lg my-3">自定义站点</button>
          <br>
          <span>或</span>
          <a href="#">更换主题</a>
        </div>
        <div class="col">
          <h5>接下来</h5>
          <div><i class="fa fa-book"></i> 添加一门课程</div>
          <div><i class="fa fa-graduation-cap"></i> 发布课程培训</div>
          <div><i class="fa fa-graduation-cap"></i> 发布课程培训</div>
        </div>
        <div class="col">
          <h5>更多操作</h5>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          // 概览： 课件、课程、培训班。。。 <br>
          // 我的： 权限内的数据动态【概览】、权限、待办事项、消息/系统管理公告 <br>
          // 管理助手 <br>
          // 自定义面板 <br>
          // 其他 -> 方便管理员快速入门和快速使用的功能，让管理员能感知系统的灵魂 <br>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="dashedConsole">
    <p class="p">首页/Dashboard/工作台</p>
    <div class="HeadPortraitCon">
        <span class="HeadPortrait">
            <img src="" alt="">
        </span>
        <span class="headPortraitTitle">
            <h4>您好，{{name}}，祝您开心每一天!</h4>
            <p>省公司管理员-河北省-某某某事业群－某某平台部－某某技术部</p>
        </span>
        <span class="NumberOfItems">
            <p>计划数</p>
            <h3>56</h3>
            <i class="rightBorder"></i>
        </span>
        <span class="NumberOfItems">
            <p>排名</p>
            <h3>
                8
                <i>/24</i>
            </h3>
            <i class="rightBorder"></i>
        </span>
        <span class="NumberOfItems">
            <p>项目访问</p>
            <h3>2,223</h3>
        </span>
    </div>
</div>
<div class="OngoingProject">
    <div class="OngoingProjectLeft">
        <div class="head" style="font-size: 20px;">
            进行中项目
            <span style="font-size: 14px;">全部项目</span>
        </div>
        <div class="OngoingProjectBot">
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>精算理论与实务培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    那是一种内在的东西，他们到达不了，也无法触及的
                </span>
                <span class="OngoingProjectBottom">
                    新人育成
                    <i class="month">1月前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>银保渠道管理岗位培训班</p>
                </span>
                <span class="OngoingProjectContent">
                    希望是一个好东西，也许是最好的，好东西是不会消亡的
                </span>
                <span class="OngoingProjectBottom">
                    在职研修

                    <i class="month">3月前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>2017年讲师技能提升培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    城镇中有那么多的酒馆，她却偏偏走进了我的酒馆
                </span>
                <span class="OngoingProjectBottom">
                    珠峰计划
                    <i class="month">3天前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>客户服务管理培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    那时候我只会想自己想要什么，从不想自己拥有什么
                </span>
                <span class="OngoingProjectBottom">
                    主管养成
                    <i class="month">2小时前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>2017年个险渠道五星级导师培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    凛冬将至
                </span>
                <span class="OngoingProjectBottom">
                    珠峰计划
                    <i class="month">4月前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>境内外信息披露监管规则培训班</p>
                </span>
                <span class="OngoingProjectContent">
                    生命就像一盒巧克力，结果往往出人意料
                </span>
                <span class="OngoingProjectBottom">
                    新人育成

                    <i class="month">20秒前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>团险渠道高级管理人员培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    希望是一个好东西，也许是最好的，好东西是不会消亡的
                </span>
                <span class="OngoingProjectBottom">
                    主管养成
                    <i class="month">48分钟前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>总公司及分公司战略培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    生命就像一盒巧克力，结果往往出人意料
                </span>
                <span class="OngoingProjectBottom">
                    珠峰计划
                    <i class="month">6天前</i>
                </span>
            </div>
            <div class="OngoingProjectItem">
                <span class="OngoingProjectItemHead">
                    <i class="img">
                        <!-- <img src="" alt=""> -->
                        <i class="anticon anticon-info-circle-o"></i>
                    </i>
                    <p>市场条线人员培训班 </p>
                </span>
                <span class="OngoingProjectContent">
                    那时候我只会想自己想要什么，从不想自己拥有什么
                </span>
                <span class="OngoingProjectBottom">
                    新人育成
                    <i class="month">3月前</i>
                </span>
            </div>

        </div>
    </div>
    <div class="OngoingProjectRight">
        <div class="FastNavigation">
            <div class="nav" style="font-size: 20px;">
                快速开始/便捷导航
            </div>
            <div class="nav-content">
                <span class="operation">
                    操作一
                </span>
                <span class="operation">
                    操作二
                </span>
                <span class="operation">
                    操作三
                </span>
                <span class="operation">
                    操作四
                </span>
                <span class="operation">
                    操作五
                </span>
                <span class="operation">
                    操作六
                </span>
            </div>
        </div>
        <div class="exponent">
            <div class="nav" style="font-size: 20px;">
                XX指数
            </div>
            <div class="exponentContent">
                <img src="./assets/images/console.png" alt="">
                <div class="bottom">
                    <span>
                        <p>个人</p>
                        <h3>34</h3>
                    </span>
                    <span>
                        <p>团队</p>
                        <h3>22</h3>
                    </span>
                    <span>
                        <p>部门</p>
                        <h3>23</h3>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>