<form #subjectForm="ngForm" class="form-horizontal" [formGroup]="_form" nz-form>

    <div class="card-body">
        <h5 class="card-title">基本信息</h5>
        <div class="row">
            <div class="col-5 push-7 order-2">
                <div class="">
                    <cui-fileupload name="file" mode="image" accept=".jpg,.bmp,.png" url="/api/images/upload" [auto]="true" (uploadComplete)="initImage($event)" [imageHolder]="getFormControl('imageUrl').value"></cui-fileupload>
                    <br>
                    <span class="text-muted">
                <i class="fa fa-info-circle text-info"></i> 可以在此处上传封面图片。
                格式应为 JPG, BMP 或 PNG, 大小不能超过 1MB。
                图片尺寸建议最小200*120，比例5:4</span>
                </div>
            </div>

            <div class="col-7 pull-5 order-1">

                <div class="form-group row">
                    <label for="name" class="col-form-label col-3">
                    <i class="fa fa-field-required"></i> 名称</label>
                    <div class="col-9" nz-form-control [nzValidateStatus]="_form.controls.name">
                        <nz-input formControlName="name" [maxlength]="'20'"></nz-input>
                        <div class="text-danger" *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">名称必填</div>
                        <div class="text-danger" *ngIf="_form.controls.name.dirty&&_form.controls.name.errors?.maxlength">名称最多20个字!</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-form-label col-3">
                    <i class="fa fa-field-required"></i> 所属分类</label>
                    <div class="col-9">
                        <spk-category-select name="category.id" formControlName="category" (ngModelChange)="logSelectCategory($event)"></spk-category-select>
                        <div class="text-danger" *ngIf="categoryType">所属分类必填</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-form-label col-3">
                    <i class="fa fa-field-required"></i> 所属部门</label>
                    <div class="col-9">
                        <spk-user-group-select name="userGroup.id" formControlName="userGroup" (ngModelChange)="logSelectGroup($event)"></spk-user-group-select>
                        <div class="text-danger" *ngIf="userGroupType">所属部门必填</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="startDate" class="col-form-label col-3">
                    开始时间</label>
                    <div class="col-9">
                        <nz-datepicker style="width: 40%;" (ngModelChange)="_startDate=$event;_startValueChange()" formControlName="startDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="endDate" class="col-form-label col-3">
                    结束时间</label>
                    <div class="col-9">
                        <nz-datepicker style="width: 40%;" (ngModelChange)="_endDate=$event;_endValueChange()" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" formControlName="endDate" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-form-label col-3">描述</label>
                    <div class="col-9">
                        <textarea style="height: 140px !important;" nz-input formControlName="description" placeholder="描述最长不能超过200字" [nzAutosize]="{ minRows: 5, maxRows: 8 }" maxlength="200"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-form-label col-3">顺序</label>
                    <div class="col-9" nz-form-control [nzValidateStatus]="_form.controls.displayOrder">
                        <nz-input formControlName="displayOrder" style="width: 50px;"></nz-input>
                        <div class="text-danger" *ngIf="getFormControl('displayOrder').dirty&&getFormControl('displayOrder').hasError('pattern')">必须是自然数</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-form-label col-3">关键字</label>
                    <div class="col-9">
                        <cui-chips formControlName="_keywords" (ngModelChange)="keywordsChange($event)"></cui-chips>
                        <span>输入完敲回车开始下一个关键字输入。</span>
                    </div>
                </div>

                <div class="form-group row" *ngIf="isCreate">
                    <label for="" class="col-form-label col-3">外部专栏</label>
                    <div class="col-9">
                        <nz-switch formControlName="innerOuter" [(ngModel)]="switchValue" (ngModelChange)="radioChange()"></nz-switch>
                    </div>
                </div>
                <div class="form-group row" *ngIf="switchValue">
                    <label for="" class="col-form-label col-3">
                      <i class="fa fa-field-required"></i>静态链接</label>
                    <div class="col-9">
                        <nz-input formControlName="link" [nzRows]="5"></nz-input>
                        <div class="text-danger" *ngIf="getFormControl('link').dirty&&getFormControl('link').hasError('required')">链接必填</div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group row">
                                <div class="col-9 offset-3">
                                    <button nz-button [nzType]="'primary'" [disabled]="!_form.valid" (click)="onSubmit($event)" [nzLoading]="loading">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>