<div class="red-class-detail">
    <div class="red-class-left">
        <cui-layout-sider [collapsable]="true" [width]="140" [collapsedWidth]="76" [(collapsed)]="isCollapsed" [trigger]="null" style="background:#f8f8fa">
            <div style="background: #f0f3fa;">
                <!-- <a class="text-center d-block p-4" (click)="toggleCollapsed()">
                    <i [ngClass]="isCollapsed?'fa fa-angle-right':'fa fa-angle-left'"></i>
                </a> -->
                <a class="text-center d-block p-4" [routerLink]="['../']">
                    <button type="button" class="btn btn-light">返回列表
                        <i class="fa fa-level-up"></i>
                    </button>
                </a>
            </div>

            <ul *ngIf="!menuIsCollapsed" nz-menu [nzMode]="'inline'" style="background:#f8f8fa">
                <li nz-menu-item [nzSelected]="rlaProperties.isActive">
                    <a [routerLink]="['./', 'redpersonlist']" routerLinkActive #rlaProperties="routerLinkActive">参加人员</a>
                </li>
                <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                    <a [routerLink]="['./', 'redtrainfee']" routerLinkActive #rlaCondition="routerLinkActive">培训费用</a>
                </li>
                <li nz-menu-item [nzSelected]="rlaFee.isActive">
                    <a [routerLink]="['./', 'redtrainscore']" routerLinkActive #rlaFee="routerLinkActive">人员成绩</a>
                </li>
                <li nz-menu-item [nzSelected]="rlaAttendance.isActive">
                    <a [routerLink]="['./', 'redtrainworkattendance']" routerLinkActive #rlaAttendance="routerLinkActive">人员考勤</a>
                </li>
                <li nz-menu-item [nzSelected]="rlaCertificate.isActive">
                    <a [routerLink]="['./', 'redtraincertificate']" routerLinkActive #rlaCertificate="routerLinkActive">证书</a>
                </li>
                <li nz-menu-item [nzSelected]="rlaTraffic.isActive">
                    <a [routerLink]="['./', 'redtraintraffic']" routerLinkActive #rlaTraffic="routerLinkActive">交通费</a>
                </li>
                <!-- <li nz-submenu>
                    <span title>
                        <span>培训内容</span>
                    </span>
                    <ul>
                        <li nz-menu-item [nzSelected]="rlaTrainCourse.isActive">
                            <a [routerLink]="['./', 'courses']" routerLinkActive #rlaTrainCourse="routerLinkActive">培训课程</a>
                        </li>
                        <li nz-menu-item [nzSelected]="rlaExamArrange.isActive">
                            <a [routerLink]="['./', 'exam']" routerLinkActive #rlaExamArrange="routerLinkActive">考试安排</a>
                        </li>
                        <li nz-menu-item [nzSelected]="rlaMaterial.isActive">
                            <a [routerLink]="['./', 'materials']" routerLinkActive #rlaMaterial="routerLinkActive">培训资料</a>
                        </li>
                        <li nz-menu-item [nzSelected]="rlaCondition.isActive">
                            <a [routerLink]="['./', 'case']" routerLinkActive #rlaCondition="routerLinkActive">培训案例</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </cui-layout-sider>
    </div>

    <div class="red-content">
        <router-outlet></router-outlet>
    </div>
</div>