:host::ng-deep {
    .assist-management-box {
        width: 100%;
        padding: 0px 10px;
    }
    .user-add-eidt-modal {
        .ant-form-item {
            width: 100%;
        }
        .cancel-btn {
            display: inline-block;
            width: 60px;
            height: 28px;
            border: 1px solid #ccc;
            line-height: 28px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            top: 1px;
            margin-left: 4px;
        }
    }
}