<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">计划管理
            <small>| 基础配置</small>
            <small [routerLink]="['../../../','list']">| 指定年度计划</small>
            <small>| 指定培训计划</small>
            <small>| 创建指定计划</small>
        </h3>
        <div class="actions pull-right">
            <button [routerLink]="['../','list']" type="button" class="btn btn-light">
                <span>
                    返回列表
                    <i class="fa fa-level-up"></i>
                </span>
            </button>
        </div>
        <!-- <nz-breadcrumb>
            <nz-breadcrumb-item>
                当前位置：
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                计划管理
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                基础配置
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['../../../', 'list']">指定年度计划</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['../', 'list']">指定培训计划</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                创建指定计划
            </nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="page-body">
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" (nzSelectChange)="_resetForm($event.index)" class='tabs-box'>
                <nz-tab>
                    <ng-template #nzTabHeading>
                        境内内部培训
                    </ng-template>
                    <form nz-form [formGroup]="validateForm" class="childrenplan-form-box">
                        <div class="childrenplan-form-body" nz-row>
                            <div class="tabs-body">
                                <!-- <div class="section fp-section fp-table active"> -->
                                <div class="li">
                                    <div class='tabs-title'>
                                        <h3> 基本信息</h3>
                                    </div>
                                    <div nz-col [nzSpan]="24">
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="name" nz-form-item-required> 计划名称</label>
                                            </div>
                                            <!-- 境内内部培训计划，计划类型默认为CT -->
                                            <input type="hidden" name="planType" value="CT" />
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.name" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input formControlName="name"></nz-input>
                                                <div nz-form-explain style="color: #f04134;">注：计划名称也是培训班名称</div>
                                                <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">请输入计划名称！</div>
                                            </div>
                                        </div>
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingDate" nz-form-item> 培训时间 </label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingDate" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-select formControlName="trainingDate" [nzPlaceHolder]="'请选择培训时间'" [nzSize]="'large'" [nzShowSearch]="true" class='add-select'>
                                                    <nz-option *ngFor="let tab of ['1','2','3','4','5','6','7','8','9','10','11','12']" nzLabel='{{tab}} 月' nzValue="{{tab}}月"></nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingPlace"> 培训地点</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingPlace" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input formControlName="trainingPlace"></nz-input>
                                            </div>
                                        </div>
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingDays" nz-form-item> 培训天数</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingDays" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="trainingDays" [nzMin]="0" [nzStep]="0.5"></nz-input-number>
                                                <div nz-form-explain style="color: #f04134;">注：报到与返程共计0.5天</div>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (天)
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingNumber" nz-form-item>培训人数</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingNumber" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="trainingNumber" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (人)
                                            </div>
                                        </div>
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="correspondingNumber" nz-form-item> 本级人数</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.correspondingNumber" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="correspondingNumber" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (人)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="li">
                                    <div class='tabs-title'>
                                        <h3> 培训信息</h3>
                                    </div>
                                    <div nz-col [nzSpan]="24">
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingObject" nz-form-item> 培训对象</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingObject" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input formControlName="trainingObject"></nz-input>
                                            </div>
                                        </div>
                                        <div nz-row nz-form-item>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="settingAttibutes" nz-form-item> 培训级别</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.settingAttibutes" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-cascader [class.class123]="true" formControlName="settingAttibutes" [nzOptions]="init_options" (ngModelChange)="setAttibutes($event)"
                                                    (nzChange)="setAttibutes($event)" [nzPlaceHolder]="'请选择培训级别'">
                                                </nz-cascader>
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="isDesignatingCourse" nz-form-item>指定课程</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.isDesignatingCourse" nz-col [nzSpan]="layoutData.layout2">
                                                <input type="radio" formControlName="isDesignatingCourse" value="true" />是
                                                <input type="radio" formControlName="isDesignatingCourse" value="false" />否
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="isQuote" nz-form-item>是否必办</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.isQuote" nz-col [nzSpan]="layoutData.layout2">
                                                <input type="radio" formControlName="isQuote" value="true" />是
                                                <input type="radio" formControlName="isQuote" value="false" />否
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingContent" nz-form-item>培训内容</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingContent" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input formControlName="trainingContent" nzType="textarea" [nzRows]="4"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="li">
                                    <div class='tabs-title'>
                                        <h3>培训经费</h3>
                                    </div>
                                    <div nz-col [nzSpan]="24">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingCostPer" nz-form-item>培训经费标准</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingCostPer" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="trainingCostPer" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (元/人/天)
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="otherCosts">其它费用</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.otherCosts" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="otherCosts" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (元)
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trafficFee" nz-form-item>本级交通费</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trafficFee" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number (nzBlur)="evaluateTrainingBudget()" formControlName="trafficFee" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (元)
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                                <label for="trainingBudget" nz-form-item>培训经费预算</label>
                                            </div>
                                            <div nz-form-control [nzValidateStatus]="validateForm.controls.trainingBudget" nz-col [nzSpan]="layoutData.layout2">
                                                <nz-input-number [nzDisabled]=true formControlName="trainingBudget" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                            </div>
                                            <div nz-col [nzSpan]="layoutData.layout3" class='layout-tips'>
                                                (元)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="li">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col [nzSpan]="layoutData.layout1">
                                            <label for="remark">备注</label>
                                        </div>
                                        <div nz-form-control [nzValidateStatus]="validateForm.controls.remark" nz-col [nzSpan]="layoutData.layout2">
                                            <nz-input formControlName="remark" nzType="textarea" [nzRows]="4"></nz-input>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div nz-row class='add-center'>
                            <button nz-button *ngIf="submitLoading == true" [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="true">确定</button>
                            <button nz-button (click)="_submitForm($event)" *ngIf="submitLoading == false" type="button" [nzSize]="'large'">确定</button>
                            <button nz-button type="button" [nzSize]="'large'" [routerLink]="['../list']">取消</button>
                        </div>
                    </form>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>