:host::ng-deep .list-search-bar{
    .simple-search-bar {
        width: 100%;
        display: block;
    }
    .export-button {
        position: absolute;
        right: 0;
    }
}

.button-container {
    width: 100%;
    overflow: hidden;
    .btn-primary {
        float:right;
    }
}