.migrationTest{
    // height: 250px;
    // overflow: auto;
    .textLeft{
        text-align: right;
        padding-right: 10px;
    }
    .selectSite{
        height: 120px;
        overflow: auto;
    }
}