<div class="container-fluid">
  <div class="page-header">
    <h3 class="page-title">{{subjectActivity.name}}: 讨论管理
      <small>管理该专区可用的论坛。</small>
    </h3>

    <div class="actions pull-right">
    </div>
  </div>
  <div class="page-body">
    <ng-container *ngIf="!forum">
      <p class="text-secondary mb-3">
        <i class="fa fa-info-circle fa-lg text-info"></i> 该活动还没有初始化论坛功能，请点击下面的按钮初始化论坛</p>
      <button type="button" class="btn btn-secondary" (click)="initCondition('required')">初始化论坛</button>
    </ng-container>
    <ng-container *ngIf="forum">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</div>