<div class="train-class-attendance-list">
    <div class="top-bread">
        <!-- <nz-breadcrumb class="bread">
            <nz-breadcrumb-item>
                您所在位置：
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                培训管理
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['../../','courselist']">考勤管理</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a class="active">考勤列表</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="page-header">
            <h5 class="page-title">
                <small>考勤信息考勤列表</small>
            </h5>
        </div>
    </div>
    <div class="form-box">
        <div class="select-body">
            <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
                <cui-data-table #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData" selectType="checkbox"
                    [(selection)]="selection" (reload)="loadData($event)">

                    <ng-template #simpleSearch>
                        <ng-container>
                            <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                                <div nz-row class="cui-data-table-form-body">
                                    <div nz-form-control>
                                        <nz-input formControlName="username" [nzPlaceHolder]="'用户名...'"> </nz-input>
                                    </div>
                                    <div class='simple-search-bar-search-box'>
                                        <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                                            <i class="fa fa-search"></i>查询</button>
                                        <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </ng-template>

                    <ng-template #complexSearch>
                        <ng-container>
                            <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                                <div nz-row class="cui-data-table-form-body">
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="name">用户名</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="displayName">姓名</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">

                                                <nz-input formControlName="displayName" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="6">
                                                <label for="">所属组织</label>
                                            </div>
                                            <div nz-col [nzSpan]="18">
                                                <spk-user-group-select mode="multiple" formControlName="userGroup" [(ngModel)]="searchBy.userGroup"></spk-user-group-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="">考勤分数</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-input formControlName="attendanceScore" [nzPlaceHolder]="'请输入考勤分数'"></nz-input>
                                        </div>
                                    </div>

                                    <div class="cui-data-table-form-row">
                                        <div class='complex-search-bar-search-box'>
                                            <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                                                <i class="fa fa-search"></i>查询</button>
                                            <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=false">简单查询</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </ng-template>
                    <ng-template #listTools>
                        <div class="btn-group">
                            <!-- <button (click)="viewpersondetail(520)" type="button" class="btn btn-primary">
                                <i class="anticon anticon-download"></i> 导入</button> -->
                            <button type="button" class="btn btn-primary" (click)="exportattendance($event)">
                                <i class="iconfont icon-daochu1"></i> 导出</button>
                        </div>
                    </ng-template>
                    <ng-template cuiColTpl="planType" let-row="row">
                        <span>{{row.planType=='CT'?'境内内部分类':(row.planType=='CD'?'境内外部分类':(row.planType=='OT'?'境外内部分类':(row.planType=='OD'?'境外外部分类':(row.planType=='RE'?'课件分类':'其他分类'))))}}</span>
                    </ng-template>
                    <ng-template cuiColTpl="actions" let-row="row">
                        <i title="查看" routerLink="['../','personmessagelist',row.user?.id]" class="iconfont icon-chakan1" style="cursor:pointer;font-size:16px;color:#007bbf;"></i>
                    </ng-template>

                </cui-data-table>
            </nz-spin>
        </div>
    </div>
</div>