:host ::ng-deep{
    .page-body{
        .btn-group{
            width:60px;
            height: 40px;
        }
        .complex-search-bar-search-box{
            margin-left:60px;
        }
    }
    
}