:host::ng-deep {
    .cui-data-table-wrap .cui-pagination .gobox .gobtn {
        line-height: 30px;
        top: -8px;
    }
    button {
        cursor: pointer;
    }
    .right-btn {
        height: 30px;
        padding-top: 10px;
        .btn {
            float: right;
        }
    }
    .errorDetail {
        width: 100%;
        margin: 20px auto;
        border: 1px solid #cacaca;
        border-right: none;
        .item {
            overflow: hidden;
            line-height: 26px;
            background: #e6e6e6;
            span {
                display: block;
                float: left;
                width: 120px;
                text-align: center;
                height: 26px;
                border-right: 1px solid #cacaca;
            }
        }
        .itemm {
            overflow: hidden;
            border-top: 1px solid #cacaca;
            span {
                display: block;
                float: left;
                width: 120px;
                border-right: 1px solid #cacaca;
                padding-left: 8px;
                word-break: break-all;
            }
        }
    }
}