<ng-container *ngIf="echoTpl">
    <ng-container *ngTemplateOutlet="echoTpl; context: {value: _value}"></ng-container>
</ng-container>
<ng-template #lookupDialog>
  <div>

    <cui-data-table [columns]="columns" [data]="logicGroups?.content" [pagination]="logicGroups" [selectType]="mode == 'multiple' ? 'checkbox' :  'radio'"
      [(selection)]="selection" [loading]="loading" (reload)="loadList($event)">

      <ng-template #simpleSearch>
        <ng-container [ngTemplateOutlet]="simpleSearchTpl"></ng-container>
      </ng-template>
      <ng-template cuiColTpl="createdDate" let-row="row">{{row.createdDate | date: 'yyyy-MM-dd HH:mm'}}</ng-template>
<!--      <ng-template cuiColTpl="isPrivate" let-row="row">
        <span class="text-success" *ngIf="row.isPrivate == 'N'">公开</span>
        <span *ngIf="row.isPrivate == 'Y'">私有</span>
      </ng-template>-->
      <ng-template cuiColTpl="userGroup" let-row="row">
        {{getFullNamePath(row?.userGroup?.namePath)}}
      </ng-template>
    </cui-data-table>
  </div>

  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="ok($event)" [nzLoading]="submitting">
      确 定
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="cancel($event)">
      取 消
    </button>
  </div>

  <ng-template #simpleSearchTpl>
    <form nz-form [formGroup]="searchForm" (ngSubmit)="_submitSearchForm($event, searchForm.value)" [nzLayout]="'inline'">
      <div nz-form-item>
        <div nz-form-control style="position: relative;top:-6px;">
          <input type="text" nz-input [(ngModel)]="searchText" formControlName="searchText" placeholder="请输入用户组名称">
        </div>


        <div class="form-group" style="width:200px;margin-left:10px;">
        <!--  <spk-user-group-select formControlName="userGroupId"></spk-user-group-select>-->

<!--
          <spk-user-group-select name="userGroupId" formControlName="userGroupId"></spk-user-group-select>
-->

          <spk-user-group-select mode="multiple" formControlName="userGroupIds" [(ngModel)]="userGroupIds"></spk-user-group-select>

        </div>

      </div>
      <button type="button" class="btn btn-primary" (click)="_submitSearchForm($event, searchForm.value)"> 搜 索 </button>
    </form>
  </ng-template>
</ng-template>
