<form nz-form [formGroup]="forumForm">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="maxTopicOneDay" nz-form-item-required>单人日发帖上限</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('maxTopicOneDay')">
      <nz-input [nzSize]="'large'" formControlName="maxTopicOneDay" [nzId]="'maxTopicOneDay'"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('maxTopicOneDay').dirty&&getFormControl('maxTopicOneDay').hasError('required')">发帖上限必填</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="postInterval" nz-form-item-required>最少发帖间隔时间（秒）</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('postInterval')">
      <nz-input [nzSize]="'large'" formControlName="postInterval" [nzId]="'postInterval'" [nzPlaceHolder]="'单位为秒'"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('postInterval').dirty&&getFormControl('postInterval').hasError('required')">间隔时间必填</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="freeSpeech">是否允许言论</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="freeSpeech">
        <span checked>开</span>
        <span unchecked>关</span>
      </nz-switch>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="isEnabled">是否启用</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="isEnabled">
        <span checked>开</span>
        <span unchecked>关</span>
      </nz-switch>
    </div>
  </div>

  <div nz-form-item nz-row style="margin-bottom:8px;">
    <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
      <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="onSubmit($event)" [nzLoading]="isLoading">保存</button>
    </div>
  </div>
</form>