<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">新增{{groupTitle}}组
        </h3>
        <div class="card-body">
            <cui-data-table #tableHandle [columns]="columns" [data]="columnsData" (reload)="loadData()" [pagination]="pagination" [loading]="loading">
                <ng-template #simpleSearch>
                    <ng-container>
                        <form nz-form [formGroup]="_searchForm" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                            <div nz-row class="cui-data-table-form-body">
                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="markGroupName">组名称</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-input formControlName="markGroupName" [nzPlaceHolder]="'请输入组名称'"></nz-input>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col [nzSpan]="6">
                                            <label for="markTeacherCount">人数</label>
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                            <nz-input nzType="number" style="width:100%" formControlName="markTeacherCount" [nzPlaceHolder]="'请输入人数'"></nz-input>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <button type="button" [nzType]="'primary'" nz-button class="btn btn-primary" [nzSize]="'large'" (click)="_submitForm($event, _searchForm.value)">搜索</button>
                                    <button nz-button class="back-btn" [nzType]="'default'" (click)="back()" [nzSize]="'large'">返回</button>
                                </div>
                            </div>
                            <div nz-row class="cui-data-table-btn-group">
                                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                    <button nz-button type="button" (click)="addGroup()" [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                    添加{{groupTitle}}组</button>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>
                <ng-template cuiColTpl="createdDate" let-row="row">
                    <div>{{(row.createdDate | dateMoment:'YYYY-MM-DD')||'未定'}}</div>
                </ng-template>
                <ng-template cuiColTpl="markTeacherCount" let-row="row">
                    <div>
                        <span class="pointer" (click)="showGroupMemberModal(row.id)">{{row.markTeacherCount}}人</span>
                    </div>
                </ng-template>
                <ng-template cuiColTpl="action" let-row="row">
                    <div>
                        <div class="half">
                            <!-- <spk-new-user-lookup (ok)="submitUser($event,row)" (cancel)="showNewAdd=false" [btnText]="'添加用户'" [type]="'text'">
              </spk-new-user-lookup> -->
                            <span class="pointer" (click)="showUserAdd(row)">添加用户</span>
                        </div>
                        <span class="half pointer">
              <span class="pointer" (click)="delectGroup(row)">删除组</span>
                        </span>
                    </div>
                </ng-template>
            </cui-data-table>
            <!-- 添加用户 -->
            <spk-user-lookup #userAdd (ok)="submitUser($event)"></spk-user-lookup>
            <!-- 添加组织模态框 -->
            <nz-modal [nzVisible]="showAddGroup" [nzConfirmLoading]="showAddLoading" [nzTitle]="'新增组'" [nzContent]="modalContent" (nzOnCancel)="showAddGroup=false" (nzOnOk)="submitAddGroup()">
                <ng-template #modalContent>
                    <div class="group-content">
                        <div nz-row class="line-block">
                            <div nz-col [nzSpan]="6" class="modal-left">
                                <span style="color:red">*</span>组名称:</div>
                            <div nz-col [nzSpan]="15">
                                <nz-input [(ngModel)]="groupName"></nz-input>
                            </div>
                        </div>
                        <div nz-row class="line-block">
                            <div nz-col [nzSpan]="6" class="text-right">
                                阅卷时间：
                            </div>
                            <div nz-col [nzSpan]="18">
                                <div nz-row>
                                    <div nz-col [nzSpan]="10">
                                        <spk-qm-datepicker [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [(ngModel)]="markStartTime" [nzPlaceHolder]="'开始时间'"></spk-qm-datepicker>
                                    </div>
                                    <div nz-col [nzSpan]="2" class="line-height text-center">
                                        至
                                    </div>
                                    <div nz-col [nzSpan]="10">
                                        <spk-qm-datepicker [(ngModel)]="markEndTime" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></spk-qm-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row class="line-block">
                            <div nz-col [nzSpan]="6" class="modal-left">
                                描述:
                            </div>
                            <div nz-col [nzSpan]="15">
                                <nz-input [(ngModel)]="description" nzType="textarea" [nzRows]="3"></nz-input>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </nz-modal>
            <!-- 显示组内成员 -->
            <nz-modal [nzVisible]="showGroupMember" [nzWidth]="900" [nzZIndex]="2" [nzContent]="groupMemberContent" (nzOnCancel)="showGroupMember=false" [nzFooter]="groupMemberFooter">
                <ng-template #groupMemberContent>
                    <cui-data-table [columns]="groupColumns" [data]="groupColumnsData" (reload)="loadGroupMember()" [pagination]="pagination" [loading]="loading">
                        <ng-template #simpleSearch>
                            <ng-container>
                                <form nz-form [formGroup]="prosonSearch" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                                    <div nz-row class="cui-data-table-form-body">
                                        <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                            <div nz-form-item nz-row>
                                                <div nz-form-label nz-col [nzSpan]="6">
                                                    <label for="userName">用户名</label>
                                                </div>
                                                <div nz-col [nzSpan]="18">
                                                    <nz-input formControlName="userName" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                            <div nz-form-item nz-row>
                                                <div nz-form-label nz-col [nzSpan]="6">
                                                    <label for="displayName">姓名</label>
                                                </div>
                                                <div nz-col [nzSpan]="18">
                                                    <nz-input formControlName="displayName" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                                            <button type="button" [nzType]="'primary'" nz-button class="btn btn-primary" [nzSize]="'large'" (click)="exportScore()" (click)="_submitForm($event, _searchForm.value)">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </ng-template>
                        <ng-template cuiColTpl="action" let-row="row">
                            <span (click)="deletePerson(row)" class="pointer">删除</span>
                        </ng-template>
                    </cui-data-table>
                </ng-template>
                <ng-template #groupMemberFooter>
                    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="showGroupMember=false">
            返 回
          </button>
                </ng-template>
            </nz-modal>
        </div>
    </div>