.exam-ka-box-body {
    .content>div {
        margin: 20px 0;
    }
    .page-header {
        padding-top: 0;
    }
    .add-field-btn {
        margin-right: 30px;
    }
    .selectUserGroup {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        float: left;
    }
    .userGroupleft {
        float: left;
        height: 30px;
        line-height: 30px;
    }
    .roomAddress {
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }
    .searchBtn{
        margin-left:20px;
    }
}
:host ::ng-deep .table-content{
  .list-search-bar{
    height: 80px;
    .list-tool-bar{
      position: absolute;
    }
  }
}