<div class="top-bread">
    <div class="page-header">
        <h5 class="page-title">
            <small>创建培训班</small>
        </h5>
        <div class="actions pull-right">
            <button type="button" class="btn btn-light" [routerLink]="['../../', 'class']">返回培训班列表
                <i class="fa fa-level-up"></i>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:0;padding:0;">
    <div class="page-body">
        <div class="container" style="margin:0;padding:0;">
            <div class="card-body">
                <spk-training-class-form-new [(loading)]="loading" (save)="onSave($event)" (cancel)="onCancel($event)" [isDisabled]="isDisabled">
                </spk-training-class-form-new>
            </div>
        </div>
    </div>
</div>