<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">红班管理
            <small>| 红班人员成绩列表</small>
        </h3>
    </div>
    <div class="pull-right back">
        <!-- <button [routerLink]="['../../','redlist']" nz-button [nzType]="'primary'">
            <i class="iconfont icon-fanhui"></i>
            <span>返回红班列表</span>
        </button> -->
    </div>
</div>
<div class="red-score">
    <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
        <cui-data-table #tableHandle [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [(selection)]="selection"
            (reload)="loadData($event)">

            <ng-template #complexSearch>
                <ng-container *ngTemplateOutlet="complexSearchBox"></ng-container>
            </ng-template>

            <ng-template #simpleSearch>
                <ng-container *ngTemplateOutlet="simpleSearchBox"></ng-container>
            </ng-template>
            <ng-template #listTools>
                <ng-container *ngTemplateOutlet="theListTools"></ng-container>
            </ng-template>

            <ng-template cuiColTpl="username" let-row="row">
                <span>{{row?.user.username}}</span>
            </ng-template>
            <ng-template cuiColTpl="name" let-row="row">
                <span>{{row?.user.displayName}}</span>
            </ng-template>
            <ng-template cuiColTpl="phoneNumber" let-row="row">
                <span>{{row?.user.phoneNumber}}</span>
            </ng-template>
            <ng-template cuiColTpl="status" let-row="row">
                <span>{{row.scoreState=='C'?'已完成':'未完成'}}</span>
            </ng-template>
        </cui-data-table>
    </nz-spin>
</div>
<ng-template #simpleSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
        <div nz-row class="cui-data-table-form-body">
            <div nz-form-control>
                <nz-input formControlName="username" [nzPlaceHolder]="'用户名'"> </nz-input>
            </div>
            <div class='simple-search-bar-search-box'>
                <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                    <i class="fa fa-search"></i>查询</button>
                <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=true">高级查询</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #complexSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
        <div class="cui-data-table-form-body">
            <div nz-row>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="username">用户名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="name">姓名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="name" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="userGroup">所属组织</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <spk-user-group-select mode="multiple" formControlName="userGroup"></spk-user-group-select>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="phoneNumber">手机号</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="phoneNumber" [nzPlaceHolder]="'请输入手机号'"></nz-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cui-data-table-form-row">
                <div class='complex-search-bar-search-box'>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                        <i class="fa fa-search"></i>查询</button>
                    <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=false">简单查询</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>