<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">{{trainingClass?.name}}: 注册条件
            <small></small>
        </h3>

        <div class="actions pull-right">
            <!-- <button type="button" class="btn btn-light" [routerLink]="['../', 'list']">返回课程列表 <i class="fa fa-level-up"></i></button> -->
            <!-- <button class="btn-authorization" (click)="authorization($event)" nz-button [nzType]="'primary'">
                <span>授权注册</span>
            </button> -->
        </div>
    </div>

    <div class="page-body">
        <spk-offering-condition [promotionState]="true" [offering]="trainingClass"></spk-offering-condition>
    </div>
</div>