.ug-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 -1rem;
    border-bottom: 1px solid #e7eaef;
    background-color: #ffffff;

    i.fa {
        color: #38adff;
        opacity: 0.5;
    }

    &:hover {
        background-color: #e7eaef;

        i.fa {
            color: #38adff;
            opacity: 0.6;
        }
    }
}
.with-side {
    display: flex;
    height: 100%;
}
.with-side > .side {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
}
.side-body {
  width: 20rem; height: 100%; background-color: #F4F6F8;
}
.fold {
  .side-body {
    width: 0;
    overflow: hidden;
  }
}