:host::ng-deep{
    .tarin-regadd-box{
        .active{
            color:#007bbf;
        }
        .my-3{
            margin-left:30px;
        }
       
    }
    .nz-overlay-container{
        .nz-overlay-pane{
            display:none;
        }
    }
}
