<cui-data-table [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [(selection)]="selection"
    [loading]="loading" (reload)="loadData($event)">
    <ng-template #simpleSearch>
        <form [formGroup]="_searchForm" class="form-inline">
            <div class="form-group">
                <nz-select style="width: 120px;" formControlName="enrollType" [nzPlaceHolder]="'注册条件'">
                    <nz-option [nzLabel]="'注册条件'" [nzValue]="''">
                    </nz-option>
                    <nz-option *ngFor="let ls of _enrollTypes" [nzLabel]="ls.label" [nzValue]="ls.value">
                    </nz-option>
                </nz-select>
            </div>
            <div class="form-goup ml-2">
                <nz-input formControlName="searchText" [nzPlaceHolder]="'请输入用户名或姓名'"></nz-input>
            </div>

            <button type="button" class="btn btn-primary ml-2" (click)="loadData()">搜索</button>
        </form>
    </ng-template>

    <ng-template cuiColTpl="enrollType" let-row="row">
        <div [ngSwitch]="row.enrollType">
            <div *ngSwitchCase="'REQUIRED'">必修</div>
            <div *ngSwitchCase="'OPEN'">选修</div>
            <div *ngSwitchCase="'CLOSED'">审批</div>
            <div *ngSwitchDefault></div>
        </div>
    </ng-template>
    <ng-template cuiColTpl="enrollStatus" let-row="row">
        <div [ngSwitch]="row.enrollStatus">
            <div *ngSwitchCase="'ENROLLED'">已注册</div>
            <div *ngSwitchCase="'APPLIED'">已申请</div>
            <div *ngSwitchCase="'REFUSED'">已拒绝</div>
            <div *ngSwitchDefault></div>
        </div>
    </ng-template>
    <ng-template cuiColTpl="userUserGroupName" let-row="row">
        <span>{{getNamePath(row?.userUserGroupNamePath)}}</span>
    </ng-template>
    <ng-template cuiColTpl="actions" let-row="row">
        <a [ngClass]="{'text-secondary': 'REQUIRED' == row.enrollType, 'text-primary': ('OPEN' == row.enrollType || 'CLOSED' == row.enrollType)}">注销</a>
    </ng-template>

    <ng-template #listTools>
        <!-- <button type="button" class="btn btn-outline-primary"><i class="fa fa-sign-out"></i> 注销</button> -->
        <button nz-button [nzType]="'primary'" (click)="userExport()" [disabled]="exportShow">
            <i class="fa fa-download"></i> 导出</button>
    </ng-template>
</cui-data-table>