<div class="container-fluid">
  <div class="page-header">
    <h3 class="page-title">编辑栏目</h3>

    <div class="actions pull-right">
      <button class="btn btn-secondary" [routerLink]="['../../list']">返回栏目列表 <i class="fa fa-level-up"></i></button>
    </div>
  </div>
</div>

<div>
  <div class="page-body">
    <div class="container">
      <div class="alert alert-danger" *ngIf="err">{{err}}</div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">基本信息</h5>
          <spk-program-management-form [programManagement]="programmanagement" [programManagementGroup]="programmanagementGroup" (doSubmit)="onSubmit($event)"></spk-program-management-form>
        </div>
      </div>
    </div>
  </div>
</div>
