:host::ng-deep {
    .container-fluid {
        position: relative;
        .actions {
            position: absolute;
            top: 12px;
            right: 16px;
        }
    }
    .declaration-edit-create-box {
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        .active {
            color: #007eff;
        }
        .form-group {
            margin-bottom: 0px !important;
            .ant-form-item {
                margin-bottom: 18px !important;
            }
        }
        .period-number {
            background: #fff;
        }
        .page-header {
            position: relative;
            .back-list {
                position: absolute;
                top: 10px;
                right: 30px;
            }
        }
        .cancel-btn {
            display: inline-block;
            width: 60px;
            height: 30px;
            border-radius: 6px;
            text-align: center;
            line-height: 30px;
            background: #e5e5e5;
            cursor: pointer;
            margin-left: 8px;
        }
        .box-form-name {
            .ant-row,
            .ant-form-item {
                width: 100%;
            }
        }
        .file-upload {
            position: relative;
            display: inline-block;
            background: #007bff;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #fff;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
            input[type="file"] {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
            }
        }
        .upload-file {
            .file-list {
                display: none;
            }
        }
        .file-list-upload {
            .file-item,
            .upload-success {
                border: 1px dashed #28a745;
                margin: .225rem 0;
                padding: .5rem .75rem;
                border-radius: 2px;
                position: relative;
                .progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    -moz-opacity: .5;
                    opacity: .5;
                    display: flex;
                    overflow: hidden;
                    font-size: 0.75rem;
                    background-color: #e9ecef;
                    border-radius: 0.25rem;
                }
                .item-remove {
                    position: absolute;
                    right: .75rem;
                    top: .5rem;
                    cursor: pointer;
                }
            }
        }
        .file-name {
            position: relative;
            padding: 6px;
            top: -10px;
            border: 1px solid #cecece;
            .anticon,
            .anticon-close-circle-o {
                position: absolute;
                top: -5px;
                right: -5px;
                cursor: pointer;
                color: #007fbb;
            }
        }
        .textarea-control {
            resize: none;
            height: 80px;
        }
        input[type='file'] {}
    }
}