<div class="row">
  <div class="col">
    <label>左侧题目</label>
    <ul class="list-group">
      <li class="py-1 question-action" *ngFor="let q of subquestions">
        <input #foo type="text" class="form-control-xs" placeholder="{{q.name}}" [(ngModel)]="q.name" (change)="questionChange(q,foo)">
        <a (click)="onAddItem(q);">
          <i class="fa fa-plus-circle"></i>
        </a>
        <a (click)="onDelItem(q);">
          <i class="fa fa fa-minus-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</div>