/*
 * @Author: mozhengqian
 * @Date: 2017-11-07 09:51:39
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-11-28 11:45:57
 */

:host::ng-deep {
    .edui-editor{
        width: 100% !important;
    }
    .edui-editor-iframeholder{
        max-width: 100%;
    }
    .test-add-body {
        .select-body {
            margin: 5px 15px;
            .test-add-form-body {
                .test-add-form-row{
                    min-height: 50px;
                }
                // .test-add-form-row {
                //     .ant-checkbox-group {
                //         position: absolute;
                //         left: 0px;
                //         top: 15px;
                //         .ant-checkbox-wrapper {
                //             line-height: 80px;
                //             display: block;
                //             margin-bottom: 15px;
                //         }
                //     }
                //     .ant-radio-group {
                //         display: block;
                //         text-align: center;
                //     }
                //     .label-box {
                //         display: inline-block;
                //         .i-box {
                //             text-align: center;
                //             i {
                //                 font-size: 18px;
                //                 cursor: pointer;
                //                 margin-right: 10px;
                //             }
                //         }
                //         .blue {
                //             color: #007bff;
                //         }
                //         .red {
                //             color: red;
                //         }
                //         .label-title {}
                //     }
                // }
                // .test-add-search {}
                // .test-add-content {
                //     .ant-card {
                //         width: 65%;
                //         margin: 15px auto;
                //         .ant-card-extra {
                //             top: 8px;
                //         }
                //     }
                // }
                // .test-add-btn-box {
                //     text-align: center;
                //     .search-btn {
                //         height: 30px;
                //     }
                // }
            }
        }
    }
}