<div class="edit-paper-box">
    <div class="top-bread">
        <!-- <nz-breadcrumb class="bread">
            <nz-breadcrumb-item>
                您所在位置：
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                在线考试
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/exam/exam-paper']" [queryParams]="link">试卷管理</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [ngClass]="btnstate=='EP'? 'color-show-edit':''" [routerLink]="['./updatepaper']" [queryParams]="link">基本信息</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [ngClass]="btnstate=='AT'? 'color-show-edit':''" (click)="goToEdit()"> 编辑试卷</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <!-- <div class="page-header">
            <h5 class="page-title">
                <small>{{btnstate=='EP'?'试卷基本信息':'添加分区'}}</small>
            </h5>
        </div> -->
    </div>
    <!-- <div class="comment-create-paper-header">
        <div class="create-step">管理试卷步骤：
            <button [ngClass]="btnstate=='EP'?'color-show-edit':''" nz-button>
                <a [routerLink]="['./updatepaper']">基本信息</a>
            </button>
            <i class="anticon anticon-right"></i>
            <button [ngClass]="btnstate=='AT'? 'color-show-edit' :''" nz-button>
                <a [routerLink]="['./addtest']"> 编辑试卷</a>
            </button>
            <div class="btn-colse">
                <button (click)="showConfirm()" nz-button [nzType]="'error'">
                    关闭
                </button>
            </div>
        </div>
        <div class="descript"></div>
    </div> -->
    <router-outlet></router-outlet>
</div>