<div class="paper-home-body">
    <div class="top-bread">
        <!-- <nz-breadcrumb class="bread">
            <nz-breadcrumb-item>
                您所在位置：
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                在线考试
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                试卷管理
            </nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="page-header">
            <h5 class="page-title">
                <small>试卷列表</small>
            </h5>
        </div>
        <div class="page-header page-info">
            <h5 class="page-title">
                <small>组织机构</small>
            </h5>
            <div class='page-info-select'>
                <spk-user-group-select [(ngModel)]="managerGroup" (selectOk)="logSelectGroup($event)"></spk-user-group-select>
            </div>
        </div>
    </div>
    <div class="select-body">
        <cui-data-table [loading]="spinning" #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData"
            selectType="checkbox" [(selection)]="selection" (reload)="loadData($event)">
            <ng-template cuiColTpl="epName" let-row="row">
                <nz-tooltip [nzPlacement]="'right'">
                    <span (click)="preview([row])" nz-tooltip class='exam-casual'>{{row.epName | getText}}</span>
                    <ng-template #nzTemplate>
                        <p>预览试卷</p>
                    </ng-template>
                </nz-tooltip>
            </ng-template>
            <ng-template #complexSearch>
                <ng-container>
                    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
                        <div nz-row class="cui-data-table-form-body">
                            <div nz-col [nzSpan]="12" class="cui-data-table-form-row">
                                <div nz-form-item nz-row>
                                    <div nz-form-label nz-col [nzSpan]="6">
                                        <label for="epName">试卷名称</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="getFormControl('epName')">
                                        <nz-input formControlName="epName" [nzPlaceHolder]="'请输入试卷名称'"></nz-input>
                                        <div nz-form-explain *ngIf="getFormControl('epName').dirty&&getFormControl('epName').hasError('confirm')">输入试卷名称不能有空格</div>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzSpan]="12" class="cui-data-table-form-row">
                                <div nz-form-item nz-row>
                                    <div nz-form-label nz-col [nzSpan]="6">
                                        <label for="excuteStatus">创建时间</label>
                                    </div>
                                    <div nz-col [nzSpan]="16">
                                        <spk-qm-datepicker style="width: 170px;" formControlName="creatTimeStart" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'"></spk-qm-datepicker>
                                        <spk-qm-datepicker style="width: 170px;float:right" formControlName="creatTimeEnd" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD'"
                                            [nzPlaceHolder]="'结束时间'"></spk-qm-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzSpan]="12" class="cui-data-table-form-row">
                                <div nz-form-item nz-row>
                                    <div nz-form-label nz-col [nzSpan]="6">
                                        <label for="epType">试卷类型</label>
                                    </div>
                                    <div nz-col [nzSpan]="16">
                                        <nz-select formControlName="epType">
                                            <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                            <nz-option *ngFor="let option of epType" [nzLabel]="option.dicName" [nzValue]="option.dicCode"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzSpan]="12" class="cui-data-table-form-row">
                                <div nz-form-item nz-row>
                                    <div nz-form-label nz-col [nzSpan]="6">
                                        <label for="isPutout">发布状态</label>
                                    </div>
                                    <div nz-col [nzSpan]="16">
                                        <nz-select formControlName="isPutout">
                                            <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                            <nz-option [nzLabel]="'是'" [nzValue]="true"></nz-option>
                                            <nz-option [nzLabel]="'否'" [nzValue]="false"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div class="cui-data-table-form-row">
                                <div class='complex-search-bar-search-box'>
                                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!_searchForm.valid">
                                        搜索</button>
                                    <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=false;reset()">普通搜索</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </ng-template>

            <ng-template #simpleSearch>
                <ng-container>
                    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                        <div nz-row class="cui-data-table-form-body">
                            <div nz-form-item>
                                <div nz-form-control [nzValidateStatus]="getFormControl('epName')">
                                    <nz-input formControlName="epName" [nzPlaceHolder]="'试卷名称...'"> </nz-input>
                                    <div nz-form-explain *ngIf="getFormControl('epName').dirty&&getFormControl('epName').hasError('confirm')">输入试卷名称不能有空格</div>
                                </div>
                            </div>
                            <div class='simple-search-bar-search-box'>
                                <button type="submit" nz-button [nzType]="'primary'" [disabled]="!_searchForm.valid">
                                    搜索</button>
                                <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true;reset()">高级搜索</button>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </ng-template>

            <ng-template #listTools>
                <div class="btn-group">
                    <button (click)="createpaper($event,'CP')" nz-button [nzType]="'primary'" *spkAuthzIf="{hasPermission:'EXAM:PAPER:ADD'}">
                        <i class="fa fa-plus"></i> 新建试卷</button>
                </div>
                <button (click)="volumeimport($event)" [nzType]="'primary'" nz-button class="btn btn-outline-primary" *spkAuthzIf="{hasPermission:'EXAM:PAPER:IMPORT'}">
                    整卷导入</button>
                <button (click)="movePaper($event)" [nzType]="'primary'" nz-button class="btn btn-outline-primary" *spkAuthzIf="{hasPermission:'EXAM:PAPER:MOVE'}">迁移试卷</button>
                <!-- <button (click)="release('release')" [nzType]="'primary'" nz-button class="btn btn-outline-primary">发布</button>
                <button (click)="norelease('norelease')" [nzType]="'primary'" nz-button class="btn btn-outline-primary">取消发布</button> -->
                <!-- <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span>批量操作</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a (click)="release('release')" class="dropdown-item">发布</a>
                            <div class="dropdown-divider"></div>
                            <a (click)="norelease('norelease')" class="dropdown-item">取消发布</a>
                        </div>
                    </div> -->
                <nz-modal [nzConfirmLoading]="moveStateLoading" *ngIf="isVisibleMove" [nzVisible]="isVisibleMove" [nzTitle]="'迁移试卷'" [nzContent]="modalContent"
                    (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
                    <ng-template #modalContent>
                        <spk-user-group-tree (selectionChange)="onUgSelectionChange($event)"></spk-user-group-tree>
                    </ng-template>
                </nz-modal>
            </ng-template>
            <ng-template cuiColTpl="sumScore" let-row="row">
                <span>{{row.sumScore == 0 ? '不限制' : row.sumScore}}</span>
            </ng-template>
            <ng-template cuiColTpl="relexam" let-row="row">
                <a title="关联考试" (click)="viewpaper([row])" class="text-secondary" *spkAuthzIf="{hasPermission:'EXAM:PAPER:VIEW_EXAMINATION'}">查看</a>
            </ng-template>
            <ng-template cuiColTpl="type" let-row="row">
                <span>{{ row.epType ? ( row.epType=='PC'? '网页端试卷':(row.epType=='MB'? '移动端试卷':(row.epType=='CB'? '通用试卷':'网页端试卷')))
                    :'网页端试卷'}}
                </span>
            </ng-template>
            <ng-template cuiColTpl="createdTime" let-row="row">
                <span>{{row.createdTime|dateMoment: 'YYYY-MM-DD HH:mm'}}</span>
            </ng-template>
            <ng-template cuiColTpl="isPutout" let-row="row">
                <span>{{row.isPutout? '发布':'未发布'}}</span>
            </ng-template>
            <ng-template cuiColTpl="titleCode" let-row="row">
                <span>{{row.titleCode=='H' ? '混合组卷':(row.titleCode=='S'? '随机组卷':(row.titleCode=='G'?'人工组卷':(row.titleCode=='RG'?'策略组卷':'')))}}</span>
            </ng-template>
            <ng-template cuiColTpl="editactions" let-row="row">
                <i title="修改试卷" style="cursor: pointer" (click)="editpaper([row],'EP')" style="color:#007bbf" class="iconfont icon-bianji-copy"
                    *spkAuthzIf="{hasPermission:'EXAM:PAPER:EDIT'};else otherEdit"></i>
                <ng-template #otherEdit>
                    <i title="没有权限修改试卷" style="cursor: pointer" style="color:#aaa" class="iconfont icon-bianji-copy"></i>
                </ng-template>
            </ng-template>
            <ng-template cuiColTpl="viewactions" let-row="row">
                <i title="预览试卷" style="cursor: pointer;color:#007bbf" (click)="preview([row])" class="iconfont icon-chakan1" *spkAuthzIf="{hasPermission:'EXAM:PAPER:PREVIEW'};else otherView"></i>
                <ng-template #otherView>
                    <i title="没有权限预览试卷" style="cursor: pointer" class="iconfont icon-chakan1"></i>
                </ng-template>
            </ng-template>
            <!-- <ng-template cuiColTpl="addexamactions" let-row="row">
                    <i title="添加考试" style="cursor: pointer" (click)="addexam([row])" class="anticon anticon-plus"></i>
                </ng-template> -->
            <ng-template cuiColTpl="actions" let-row="row">
                <nz-dropdown [nzPlacement]="'bottomRight'">
                    <a class="ant-dropdown-link" nz-dropdown>
                        更多
                        <i class="iconfont icon-xia"></i>
                    </a>

                    <ul nz-menu>
                        <li *ngFor="let item of searchOptions" nz-menu-item>
                            <a (click)="mutiple(item.value,row)" title={{item.title}} *spkAuthzIf="{hasPermission:item.purview}">{{item.label}}</a>

                        </li>
                    </ul>
                </nz-dropdown>
            </ng-template>
            <!-- <ng-template cuiColTpl="amindoperactions" let-row="row">
                <nz-select style="width: 140px;" [(ngModel)]="selectedAnswer" nzAllowClear [nzPlaceHolder]="'请选择'" (ngModelChange)="_changeoperation($event,[row])"
                    [nzShowSearch]="true">
                    <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                    </nz-option>
                </nz-select>
            </ng-template> -->
            <ng-template #actionGroup>
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                        <span>批量操作</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">批量删除</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">批量创建</a>
                        <a class="dropdown-item">批量导入</a>
                    </div>
                </div>
            </ng-template>
        </cui-data-table>
        <nz-modal class="preview-class" [nzVisible]="previewModel" [nzWidth]="900" [nzTitle]="'预览试卷'" [nzContent]="modalContent"
            (nzOnCancel)="handleCancelViewModel()" (nzOnOk)="handleOkViewModel()">
            <ng-template #modalContent>
                <spk-test-view *ngIf="previewModel" [view]="previewModel" [url]="'/api/exam/paper/show'" [params]="previewIds"></spk-test-view>
            </ng-template>
        </nz-modal>
    </div>
</div>