<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">红班管理
            <small>| 红班交通费列表</small>
        </h3>
    </div>
    <div class="pull-right back">
        <!-- <button [routerLink]="['../../','redlist']" nz-button [nzType]="'primary'">
            <i class="iconfont icon-fanhui"></i>
            <span>返回红班列表</span>
        </button> -->
    </div>
</div>
<div class="red-traffic">
    <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
        <cui-data-table #tableHandle [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [(selection)]="selection"
            (reload)="loadData($event)">

            <ng-template #complexSearch>
                <ng-container *ngTemplateOutlet="complexSearchBox"></ng-container>
            </ng-template>

            <ng-template #simpleSearch>
                <ng-container *ngTemplateOutlet="simpleSearchBox"></ng-container>
            </ng-template>
            <ng-template #listTools>
                <ng-container *ngTemplateOutlet="theListTools"></ng-container>
            </ng-template>

            <ng-template cuiColTpl="group" let-row="row">
                <span>{{getFullPath(row?.user?.userGroup?.namePath)}}</span>
            </ng-template>
            <ng-template cuiColTpl="traffictype" let-row="row">
                <span>{{row?.trainTrafficManner?.name}}</span>
            </ng-template>
            <ng-template cuiColTpl="startDate" let-row="row">
                {{row.startDate}}
            </ng-template>
            <ng-template cuiColTpl="endDate" let-row="row">
                {{row.endDate}}
            </ng-template>
            <ng-template cuiColTpl="displayName" let-row="row">
                {{row?.user?.displayName}}
            </ng-template>
            <ng-template cuiColTpl="actions" let-row="row">
                <i title="不可编辑" *ngIf="row.status=='A'||row.status=='P'" class="iconfont icon-bianji-copy" style="color:#888;"></i>
                <i *ngIf="row.status!=='A'&&row.status!=='P'" (click)="viewdetail(row.id)" class="iconfont icon-bianji-copy" style="color:#007bff;cursor:pointer"
                    title="编辑"></i>
            </ng-template>
            <ng-template cuiColTpl="status" let-row="row">
                <span *ngIf="row.status=='N'">未提交</span>
                <span style="color:orange" *ngIf="row.status=='A'">已提交</span>
                <span style="color:green" *ngIf="row.status=='P'">已通过</span>
                <span style="color:red" *ngIf="row.status=='R'">已拒绝</span>
            </ng-template>
        </cui-data-table>
    </nz-spin>
</div>
<ng-template #simpleSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
        <div nz-row class="cui-data-table-form-body">
            <div nz-form-control>
                <nz-input formControlName="username" [nzPlaceHolder]="'用户名'"> </nz-input>
            </div>
            <div class='simple-search-bar-search-box'>
                <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                    <i class="fa fa-search"></i>查询</button>
                <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=true">高级查询</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #complexSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
        <div class="cui-data-table-form-body">
            <div nz-row>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="username">用户名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="name">姓名</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <nz-input formControlName="name" [nzPlaceHolder]="'请输入姓名'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="6">
                            <label for="userGroup">所属组织</label>
                        </div>
                        <div nz-col [nzSpan]="18">
                            <spk-user-group-select mode="multiple" formControlName="userGroup"></spk-user-group-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cui-data-table-form-row">
                <div class='complex-search-bar-search-box'>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'>
                        <i class="fa fa-search"></i>查询</button>
                    <button type="button" class="btn btn-link" (click)="resetForm($event);tableHandle.isComplexSearch=false">简单查询</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<ng-template #theListTools>
    <button nz-button [nzType]="'primary'" (click)="addTraffic()">
        <i style="font-size:12px;position:relative;top:-2px" class="iconfont icon-tianjia"></i> 添加交通费</button>
    <button nz-button [nzType]="'primary'" *spkAuthzIf="{hasPermission: 'TRAINING:TRAINING_CLASS:REMOVE'}" (click)="delete()">
        <i class="iconfont icon-shanchu"></i> 删除</button>
    <button nz-button [nzType]="'primary'" (click)="submitAudit()">
        <i class="iconfont icon-tijiao1"></i>提交审核</button>
</ng-template>
<!-- 添加交通费用的modal -->
<nz-modal *ngIf="isVisible" [nzZIndex]="1001" class="modal-traiffic" [nzWidth]="500" [nzFooter]="false" [nzVisible]="isVisible" [nzTitle]="editId?'编辑':'添加'"
    [nzContent]="modalContent" [nzZIndex]="999" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalContent>
        <nz-spin [nzSpinning]="editspinning" [nzTip]="'正在读取数据...'">
            <div class="form-name-box">
                <form nz-form [formGroup]="_form" (ngSubmit)="_saveformmessage($event,_form.value)">
                    <nz-spin [nzSpinning]="editspinning" [nzTip]="'正在读取数据...'">
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="7">
                                <label nz-form-item-required>人员</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="_form.controls.userIds">
                                <!-- <spk-teacher-lookup [offeringId]="trainId" (remove)="remove($event)" formControlName="userIds" placeholder="请选择人员"></spk-teacher-lookup> -->
                                <spk-user-look-up [offeringId]="redId" (remove)="remove($event)" formControlName="userIds" placeholder="请选择人员"></spk-user-look-up>
                                <div nz-form-explain *ngIf="_form.controls.userIds.dirty&&_form.controls.userIds.hasError('required')">班级负责人不能为空</div>
                            </div>
                        </div>

                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="7">
                                <label nz-form-item-required>交通类型</label>
                            </div>
                            <div nz-col nz-form-control [nzSpan]="12" [nzValidateStatus]="_form.controls.trainTrafficManner">
                                <!-- <nz-input formControlName="pricename" [nzType]="'text'" [nzPlaceHolder]="'请选择费用名称'" [nzSize]="'large'">
                                </nz-input> -->
                                <nz-select formControlName="trainTrafficManner" [nzPlaceHolder]="'请选择交通类型'" nzAllowClear [nzShowSearch]="true">
                                    <nz-option *ngFor="let option of trainoptions" [nzLabel]="option.name" [nzValue]="option.id">
                                    </nz-option>
                                </nz-select>
                                <div nz-form-explain *ngIf="_form.controls.trainTrafficManner.dirty&&_form.controls.trainTrafficManner.hasError('required')">请选择交通类型!</div>
                            </div>
                        </div>

                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="7">
                                <label nz-form-item-required>费用金额</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="_form.controls.fee">
                                <nz-input formControlName="fee" [nzType]="'text'" [nzPlaceHolder]="'请输入费用金额'" [nzSize]="'large'">
                                </nz-input>
                                <div nz-form-explain *ngIf="_form.controls.fee.dirty&&_form.controls.fee.hasError('required')">请输入金额!</div>
                                <div nz-form-explain *ngIf="_form.controls.fee.dirty&&_form.controls.fee.hasError('pattern')">输入有误!</div>

                            </div>
                        </div>


                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="7">
                                <label nz-form-item-required>开始时间</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="_form.controls.startDate">
                                <nz-datepicker style="width:100%" formControlName="startDate" [nzSize]="'large'" [nzPlaceHolder]="'请输入开始时间'"></nz-datepicker>
                                <div nz-form-explain *ngIf="_form.controls.startDate.dirty&&_form.controls.startDate.hasError('required')">请选择开始时间!</div>
                            </div>
                        </div>

                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="7">
                                <label nz-form-item-required>结束时间</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="_form.controls.endDate">
                                <nz-datepicker style="width:100%" formControlName="endDate" [nzSize]="'large'" [nzPlaceHolder]="'请输入结束时间'"></nz-datepicker>
                                <div nz-form-explain *ngIf="_form.controls.endDate.dirty&&_form.controls.endDate.hasError('required')">请选择开始时间!</div>
                            </div>
                        </div>

                        <div nz-form-item nz-row>
                            <div nz-col [nzOffset]="9" [nzSpan]="12" nz-form-control>
                                <button [nzLoading]="submitloading" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!_form.valid">提交</button>
                                <button nz-button [nzSize]="'large'" (click)="_resetForm($event)">重置</button>
                            </div>
                        </div>
                    </nz-spin>
                </form>
            </div>
        </nz-spin>
    </ng-template>
</nz-modal>