<div class="px-3 bg-white">
  <div class="page-header">
    <h5 class="page-title">基本接收管理</h5>

    <div class="actions pull-right">
      <button type="button" class="btn btn-secondary" (click)="resetMessageConfig()">恢复默认</button>
    </div>
  </div>

  <div class="page-body">
    <nz-alert [nzType]="'info'" [nzMessage]="'提醒：您可以为每类消息设置接收人，通铭教育不会将接收人信息对外披露或向第三方提供。账户、产品、故障等重要消息，建议您务必设置接收，防止消息遗漏造成损失'" [nzDescription]="''"
      [nzShowIcon]="false" [nzCloseable]="false"></nz-alert>

    <div class="mt-4"></div>

    <div class="row">
      <div class="col">消息类型</div>
      <div class="col">消息接收人</div>
      <div class="col">操作</div>
      <div class="col">邮件</div>
      <div class="col">短信</div>
    </div>
    <nz-collapseset [nzBordered]="false">
        <nz-collapse *ngFor="let config of messageConfigs" [nzTitle]="config.name" [nzActive]="true">
            <div class="row" *ngFor="let item of config.items">
                <div class="col">{{item.name}}
                    <nz-tooltip [nzTitle]="item.description">
                        <span nz-tooltip><i class="fa fa-question-circle text-secondary ml-2"></i></span>
                      </nz-tooltip>
                </div>
                <div class="col">账号联系人</div>
                <div class="col">修改</div>
                <div class="col">
                  <label nz-checkbox [(ngModel)]="item.receiveEmail" (ngModelChange)="saveMessageReceiveConfig(item,'email')"> 
                    <span></span>
                  </label>
                </div>
                <div class="col">
                  <label nz-checkbox [(ngModel)]="item.receiveSms" (ngModelChange)="saveMessageReceiveConfig(item,'sms')">
                  </label>
                </div>
              </div>
        </nz-collapse>
    </nz-collapseset>
  </div>
</div>
