<div class="container-fluid" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:VIEW'}">
    <div class="page-header">
        <h3 class="page-title">调查列表
            <small>查看系统中现有的调查</small>
        </h3>
    </div>

    <div class="page-body">
        <cui-data-table selectType="checkbox" [columns]="columns" [data]="surveyPapers" [loading]="loading" (reload)="loadData($event)"
            [pagination]="pagination" (select)="onSelect($event)">
            <ng-template #simpleSearch>
                <form class="form-inline">
                    <div class="form-group">
                        <nz-input name="searchtext" [nzPlaceHolder]="'请输入调查名称'" [(ngModel)]="searchtext"></nz-input>
                    </div>
                    <div class="form-group ml-2">
                        <button type="button" class="btn btn-primary" (click)="loadData()">搜索</button>
                    </div>
                </form>
            </ng-template>
            <ng-template #listTools>
                <spk-survey-tpl-lookup #surveyTplLookup [delayClose]="true" (ok)="onTplSelectOk($event, surveyTplLookup)"></spk-survey-tpl-lookup>
                <button type="button" class="btn btn-primary" [routerLink]="['add']" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:ADD'}">
                    <i class="fa fa-plus"></i> 创建调查
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                        <span>批量操作</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="publish()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}">发布</a>
                        <a class="dropdown-item" (click)="disPublish()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}">撤销发布</a>
                        <div class="dropdown-divider" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}"></div>
                        <a class="dropdown-item" (click)="deleteBantch()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:REMOVE'}">批量删除</a>
                    </div>
                </div>
            </ng-template>
            <ng-template cuiColTpl="statusTpl" let-row="row">
                <span *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}; else textStatus">
                <nz-popconfirm *ngIf="!row.isPublished" [nzTitle]="'确定要发布吗？'" (nzOnConfirm)="confirmPublish(row)">
                    <a nz-popconfirm class="text-secondary">未发布</a>
                </nz-popconfirm>
                <nz-popconfirm *ngIf="row.isPublished" [nzTitle]="'确定要撤销发布吗？'" (nzOnConfirm)="onPublish(row)">
                    <a nz-popconfirm class="text-success">已发布</a>
                </nz-popconfirm>
                <!-- <a (click)="confirmPublish(row);" *ngIf="!row.isPublished" class="badge badge-secondary">未发布</a>
                <a (click)="onPublish(row);" *ngIf="row.isPublished" class="badge badge-success">已发布</a> -->
                </span>
                <ng-template #textStatus>
                    <span  *ngIf="!row.isPublished" class="text-secondary">未发布</span>
                    <span  *ngIf="row.isPublished" class="text-success">已发布</span>
                </ng-template>
            </ng-template>
            <ng-template #rowActions let-row="row">
                <a href="javascript:;" class="text-success" [routerLink]="[row.id, 'detail']" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:EDIT'}">管理</a>
                <span *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:EDIT'}">|</span>
                <!-- <a href="javascript:;" class="text-info" (click)="copySurvey(row)">复制</a>
        <span>|</span> -->
                <span *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:REMOVE'}">
                    <nz-popconfirm *ngIf="!row?.isPublished" [nzTitle]="'确定要删除吗？'" (nzOnConfirm)="delete(row,row.id)">
                            <a nz-popconfirm class="text-danger">删除</a>
                    </nz-popconfirm>
                    <!-- <a href="javascript:;" *ngIf="!row?.isPublished" class="text-danger" (click)="delete(row,row.id)">删除</a> -->
                    <span title="已发的调查不允许删除" *ngIf="row?.isPublished" class="text-secondary">删除</span>
                </span>
            </ng-template>
            <ng-template cuiColTpl="img" let-row="row">
                <img cui-lazy-load [src]="row.imageUrl" [alt]="row.name" width="72px" height="42px">
            </ng-template>
            <ng-template cuiColTpl="start-date" let-row="row">
                <span>{{row.startDate | date: 'yyyy-MM-dd' }}</span>
            </ng-template>
            <ng-template cuiColTpl="end-date" let-row="row">
                <span>{{row.endDate | date: 'yyyy-MM-dd' }}</span>
            </ng-template>
            <ng-template #actionGroup>
                <button class="btn btn-outline-primary" (click)="publish()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}">发布</button>
                <button class="btn btn-outline-info" (click)="disPublish()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:PUBLISH'}">撤销发布</button>
                <button class="btn btn-outline-danger" (click)="deleteBantch()" *spkAuthzIf="{hasPermission: 'SURVEY:SURVEY_ACT:REMOVE'}">批量删除</button>
            </ng-template>
        </cui-data-table>
    </div>
</div>