<div class="message-add" *ngIf="loading">
    <div class="top-bread">
        <div class="page-header">
            <h5 class="page-title">{{trainingName}}:
                <small>消息详情</small>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <form nz-form [formGroup]="validateForm">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="types" nz-form-item-required>发送方式</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <nz-checkbox-group formControlName="types"></nz-checkbox-group>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="title" nz-form-item-required>主题</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <nz-input formControlName="title" [nzPlaceHolder]="'请输入主题'" [nzReadonly]="true"></nz-input>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="scopes">通知范围</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <nz-checkbox-group formControlName="scopes"></nz-checkbox-group>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label>用户</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <spk-user-lookup formControlName="userIds" placeholder="请选择用户！"></spk-user-lookup>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="">组织</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <spk-user-group-select mode="multiple" placeholder="请选择组织!" formControlName="userGroupIds"></spk-user-group-select>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="">用户组</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <div class="ant-select-selection" (click)="openLookup()">
                        <div class="show">
                            <ul class="userGroup-show" *ngIf="_value?.length">
                                <li *ngFor="let u of _value" class="ant-select-selection__choice userGroup-li ng-trigger ng-trigger-tagAnimation">
                                    <div class="ant-select-selection__choice__content">
                                        {{u.name}}
                                        <i class="iconfont icon-2guanbi ant-select-selection__choice__remove" (click)="_remove($event,u,_value)"></i>
                                    </div>

                                </li>

                            </ul>

                        </div>
                        <span class="ant-select-arrow"></span>
                    </div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="sendTime">发送时间</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10">
                    <nz-datepicker style="width:100%;" formControlName="sendTime" [nzPlaceHolder]="'请选择发送时间'" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                        [nzDisabled]="true"></nz-datepicker>
                    <div>如果不选，则默认实时发送</div>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="filePath">附件</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="10" class="form-file">
                    <!-- <cui-fileupload mode="file" name="files" url="/api/upload/files" [auto]="true" (uploadComplete)="realPath($event)" [maxFileSize]="1024*1024*20"
                        accept=".ppt,.pptx,.doc,.docx,.xls,.xlsx,.zip,.pdf"></cui-fileupload> -->
                    <nz-input formControlName="attachmentName" [nzReadonly]="true"></nz-input>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="4">
                    <label for="content" nz-form-item-required>正文</label>
                </div>
                <div nz-col [nzSpan]="10">
                    <cui-ueditor formControlName="content" [toolbarMode]="'um'" [setting]="ueditorSetting"></cui-ueditor>
                </div>
                <!-- <div *ngIf="modeOption[2].checked" nz-col [nzSpan]="10">
                    <nz-input formControlName="content" nzType="textarea" [nzRows]="'4'" [nzReadonly]="true"></nz-input>
                </div> -->
            </div>
            <div nz-form-item nz-row style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzType]="'default'" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
    <nz-modal [nzWidth]="800" [nzVisible]="isVisible" [nzFooter]="false" [nzTitle]="'接收人列表'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)">
        <ng-template #modalContent>
            <spk-training-class-messages-persons *ngIf="isVisible" (selected)="persons($event)" [selection]="selection" [id]="sourceId"></spk-training-class-messages-persons>
        </ng-template>
    </nz-modal>
</div>

<nz-modal *ngIf="isVisibleUserGroup" [nzVisible]="isVisibleUserGroup" [nzWidth]="600" [nzTitle]="'用户组列表'" [nzContent]="modalContent"
    (nzOnCancel)="handleCancelUserGroup($event)" (nzOnOk)="handleOkUserGroup($event)">
    <ng-template #modalContent>
        <nz-spin [nzTip]="'正在读取数据...'" [nzSpinning]="spinning">
            <cui-data-table #tableHandle [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [(selection)]="selectionUserGroup"
                (reload)="loadUserGoupData()">
            </cui-data-table>
        </nz-spin>
    </ng-template>
</nz-modal>