/*
 * @Author: mozhengqian
 * @Date: 2017-11-21 10:26:37
 * @Last Modified by:   mozhengqian
 * @Last Modified time: 2017-11-21 10:26:37
 */

:host::ng-deep {
    .certificate-add-box {
        .select-body {
            .certificate-add-form-box {
                .certificate-add-content {
                    .ant-card {
                        width: 75%;
                        margin: 15px auto;
                        .ant-card-body {
                            // min-height: 350px;
                        }
                        .ant-card-extra {
                            top: 8px;
                        }
                    }
                    .cui-fileupload-choose {
                        .form-control-file {
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                        }
                    }
                    .certificate-form-row {
                        min-height: 55px;
                        .row-li {
                            margin: 0;
                            padding: 0;
                        }
                        .ant-input-group-addon {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                .certificate-add-btn-box {
                    text-align: center;
                }
            }
        }
    }
}