<div class="document-message-work">
    <div class="select-body">
        <nz-spin [nzSpinning]="spinning" [nzTip]="'正在读取数据...'">
            <cui-data-table #tableHandle [columns]="columns" [data]="testListData?.content" [pagination]="testListData" selectType="checkbox"
                [(selection)]="selection" (reload)="loadData($event)">

                <ng-template #simpleSearch>
                    <ng-container>
                        <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
                            <div nz-row class="cui-data-table-form-body">
                                <div nz-form-control>
                                    <nz-input formControlName="trainFeeType" [nzPlaceHolder]="'请输入文档名称!'"> </nz-input>
                                </div>
                                <div class='simple-search-bar-search-box'>
                                    <button type="submit" nz-button [nzType]="'primary'" class='search-btn'>
                                        <i class="fa fa-search"></i>查询</button>
                                    <!-- <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button> -->
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>
                <ng-template #listTools>
                    <div class="btn-group">
                        <button [title]="documentStatus?'文档已复核':''" [disabled]="documentStatus" (click)="applicationreview()" nz-button [nzType]="'primary'">
                            <span>
                                <i class="anticon anticon-customer-service"></i> 文档复核申请</span>
                        </button>
                    </div>
                </ng-template>
                <ng-template cuiColTpl="colTitle" let-row="row">
                    <span>
                        <strong>{{row.name}}</strong>
                    </span>
                </ng-template>
                <ng-template cuiColTpl="convertStatusCol" let-row="row">
                    <span class="text-success" *ngIf="row.documentInfo?.transcodeStatus == 'NEEDLESS'">无需转码</span>
                    <span class="text-success" *ngIf="row.documentInfo?.transcodeStatus == 'NOT_START'">未开始</span>
                    <span class="text-success" *ngIf="row.documentInfo?.transcodeStatus == 'WAITING'">等待转码</span>
                    <span class="text-info" *ngIf="row.documentInfo?.transcodeStatus == 'TRANSCODING'">转码中</span>
                    <span class="text-success" *ngIf="row.documentInfo?.transcodeStatus == 'COMPLETE'">转码完成</span>
                    <span class="text-danger" *ngIf="row.documentInfo?.transcodeStatus == 'FAILED'">转码失败</span>
                </ng-template>
            </cui-data-table>
        </nz-spin>
    </div>
</div>