<div class="container-fluid" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:VIEW'}">
    <div class="page-header">
        <h3 class="page-title">新闻资讯
            <small>管理本站点门户新闻资讯</small>
        </h3>

        <div class="actions pull-right">

        </div>
    </div>

    <div class="page-body">
        <nz-tabset [nzSize]="'small'" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="_tabChange($event)">
            <nz-tab *ngFor="let group of groups">
                <ng-template #nzTabHeading>
                    {{group.name}}
                </ng-template>
                <div>
                    <!-- {{group.name}}的内容 -->
                </div>
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <!-- <i class="ant-tabs-new-tab anticon anticon-plus" (click)="newTab()"></i> -->
                <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['group']"><i class="fa fa-cog"></i> 管理分组</button>
            </ng-template>
        </nz-tabset>

        <cui-data-table #articleTable [columns]="columns" [data]="articles?.content" [pagination]="articles" selectType="checkbox" [loading]="loading" [(selection)]="selection" (reload)="loadData($event)">

            <ng-template #complexSearch>
                <form nz-form [formGroup]="_searchForm" [nzLayout]="'horizontal'">
                    <div nz-row [nzGutter]="40">
                        <div nz-col [nzSpan]="8">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>标题</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="14">
                                    <nz-input formControlName="title" [nzPlaceHolder]="'请输入标题内容进行搜索'"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>作者</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="14">
                                    <nz-input formControlName="author" [nzPlaceHolder]="'请输入作者姓名'"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>状态</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="14">
                                    <nz-select formControlName="isPublished" [nzAllowClear]="true">
                                        <nz-option [nzLabel]="'未发布'" [nzValue]="2"></nz-option>
                                        <nz-option [nzLabel]="'已发布'" [nzValue]="1"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="40">
                        <div nz-col [nzSpan]="8">
                            <div nz-row>
                                <div nz-col [nzSpan]="19" [nzOffset]="5">
                                    <button type="button" class="btn btn-primary" (click)="search()">搜索</button>
                                    <button type="button" class="btn btn-light" (click)="initForm()">清除</button>
                                    <button type="button" class="btn btn-link" (click)="articleTable.isComplexSearch=false">普通搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template #simpleSearch>
                <form nz-form [formGroup]="_searchForm" [nzLayout]="'inline'">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-input style="width: 200px;" formControlName="title" [nzPlaceHolder]="'请输入标题内容进行搜索'"></nz-input>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="search()">搜索</button>
                    <button type="button" class="btn btn-link" (click)="articleTable.isComplexSearch=true">高级搜索</button>
                </form>
            </ng-template>

            <ng-template #listTools>
                <button type="button" class="btn btn-primary" (click)="addArticles()" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:ADD'}"><i class="fa fa-plus"></i> 添加文章</button>
                <div class="btn-group">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}">
            批量操作
          </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}" (click)="publish(null,true)">发布</a>
                        <a class="dropdown-item" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}" (click)="disPublish(null,true)">撤销发布</a>
                        <div class="dropdown-divider" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}"></div>
                        <a class="dropdown-item" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:REMOVE'}" (click)="delete(null,true)">批量删除</a>
                    </div>
                </div>
            </ng-template>

            <ng-template cuiColTpl="title" let-row="row">
                <a class="text-primary" (click)="preview(row)">{{row.title}}</a>
            </ng-template>
            <ng-template cuiColTpl="period" let-row="row">
                {{showPeriod(row)}}
            </ng-template>
            <ng-template cuiColTpl="createdDate" let-row="row">
                {{row.createdDate | date: 'yyyy-MM-dd HH:mm'}}
            </ng-template>
            <ng-template cuiColTpl="status" let-row="row">
                <span *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}; else elseBlock">
        <nz-popconfirm *ngIf="!row.isPublished" [nzTitle]="'确定要发布吗？'" (nzOnConfirm)="publish(row.id,false)">
          <a nz-popconfirm class="text-secondary">未发布</a>
        </nz-popconfirm>
        <nz-popconfirm *ngIf="row.isPublished" [nzTitle]="'确定要撤销发布吗？'" (nzOnConfirm)="disPublish(row.id,false)">
          <a nz-popconfirm class="text-success">已发布</a>
        </nz-popconfirm>
        <!-- <a *ngIf="row.isPublished" class="badge badge-success" (click)="disPublish(row.id)">已发布</a>
        <a *ngIf="!row.isPublished" class="badge badge-secondary" (click)="publish(row.id)">未发布1</a> -->
        </span>
                <ng-template #elseBlock>
                    <a *ngIf="!row.isPublished" class="text-secondary">未发布</a>
                    <a *ngIf="row.isPublished" class="text-success">已发布</a>
                </ng-template>
            </ng-template>
            <ng-template cuiColTpl="toTop" let-row="row">
                <nz-popconfirm *ngIf="!row.isTop" [nzTitle]="'确定要置顶吗？'" (nzOnConfirm)="top(row.id,true)">
                    <a nz-popconfirm class="text-secondary">未置顶</a>
                  </nz-popconfirm>
                  <nz-popconfirm *ngIf="row.isTop" [nzTitle]="'确定要取消置顶吗？'" (nzOnConfirm)="top(row.id,false)">
                    <a nz-popconfirm class="text-success">已置顶</a>
                  </nz-popconfirm>
            </ng-template>
            <ng-template cuiColTpl="publisher" let-row="row">
                <span *ngIf="row.isPublished">{{row.publisherDisplayName}}</span>
            </ng-template>
            <ng-template cuiColTpl="actions" let-row="row">
                <a class="text-primary" (click)="preview(row)">查看</a>
                <a class="text-primary" [routerLink]="[row.id, 'edit']" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:EDIT'}">编辑</a>
                <nz-popconfirm [nzTitle]="'确定要删除吗？'" (nzOnConfirm)="delete(row.id,false)" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:REMOVE'}">
                    <a nz-popconfirm class="text-danger">删除</a>
                </nz-popconfirm>
            </ng-template>

            <ng-template #actionGroup>
                <button class="btn btn-outline-primary" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}" (click)="publish(null,true)">发布</button>
                <button class="btn btn-outline-info" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:PUBLISH'}" (click)="disPublish(null,true)">撤销发布</button>
                <button class="btn btn-outline-danger" *spkAuthzIf="{hasPermission: 'PORTAL:NEWS:REMOVE'}" (click)="delete(null,true)">批量删除</button>
            </ng-template>
        </cui-data-table>
    </div>
</div>