<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">学时管理
            <small>| 学时导入</small>
        </h3>
        <div class="class-btn">
            <button type="button" class="btn btn-light" [routerLink]="['../','hourauditdeclarelist']">返回列表
                <i class="fa fa-level-up"></i>
            </button>
        </div>
    </div>
</div>
<div class="hour-new-import">
    <nz-steps [(nzCurrent)]="current">
        <nz-step [nzTitle]="'模版下载和文件导入'"></nz-step>
        <nz-step [nzTitle]="'校验结果展示'"></nz-step>
        <nz-step [nzTitle]="'成功结果展示'"></nz-step>
    </nz-steps>

    <div class="steps-content">
        <div *ngIf="current==0" class="first-content">
            <div class="import-template">
                <span class="tip-word">导入前请按照模板，填写完整内容</span>
                <!-- <a class="hour-template-import" href="./assets/Hourfile/period-import-template.xls" target="_blank" download="导入学时模板.xls">模板下载</a> -->
                <a class="hour-template-import" (click)="downloadtemplate()">模板下载</a>
            </div>
            <div class="notice-message">
                <h5>模板填写说明：
                </h5>
                <div class="item-tip">
                    1. 红色列为必填项，其他列为可选列，需按照要求格式填写，不能改变格式类型；
                </div>
                <div class="item-tip">
                    2. 列名和列的位置固定，不可修改；录入数据时不可合并单元格；
                </div>
                <div class="item-tip">
                    3. 导入功能支持文件后缀为 .xls，.xlsx ，使用本模板即可；
                </div>
            </div>
            <div class="upload-file-box">
                <div class="select-title">
                    上传文件：
                </div>
                <div class="lond-file-box">
                    <cui-fileupload name="file" mode="file" url="/api/period/active/validImportFile" [auto]="true" (uploadComplete)="initImport($event)"
                        accept=".xls,.xlsx"></cui-fileupload>
                </div>
                <span class="text-muted">
                    <i class="fa fa-info-circle text-info"></i> 可以在此处批量导入学时。导入功能支持文件后缀为XLS,XLSX</span>
                <div class="text-danger">{{importErrInfo}}</div>
            </div>
        </div>

        <div *ngIf="current==1" class="show-right-error">
            <div class="right-list">
                <h5>正确信息列表</h5>
                <div>
                    <div class="list-title">
                        <div class="title-item">序号</div>
                        <div class="title-item">培训名称</div>
                        <div class="title-item">工号</div>
                    </div>
                    <div class="no-data" *ngIf="rightList.length==0">
                        <span class="tip">无正确记录，请重新填写上传</span>
                    </div>
                    <div class="list-box" *ngIf="rightList.length">
                        <div class="sigle-box" *ngFor="let item of rightList">
                            <div class="item-box">{{item?.orderNumber}}</div>
                            <div class="item-box">{{item?.trainName}}</div>
                            <div style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" [title]="item?.username" class="item-box-big">{{item?.username}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="error-list">
                <h5>错误信息列表</h5>
                <div *ngIf="errorList.length" class="export-errot-message">
                    <button (click)="exporterrorfile()" nz-button nzType="primary">
                        <i class="iconfont icon-daochu1"> </i>
                        导出错误信息</button>
                </div>
                <div>
                    <div class="list-title">
                        <div class="title-item">序号</div>
                        <div class="title-item">工号</div>
                        <div class="title-item-big">错误信息</div>
                    </div>
                    <div class="no-data" *ngIf="errorList.length==0">
                        <span class="tip">全部正确可以导入</span>
                    </div>

                    <div class="list-box" *ngIf="errorList.length">
                        <div class="sigle-box" *ngFor="let item of errorList">
                            <div class="item-box">{{item?.orderNumber}}</div>
                            <div style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" [title]="item?.username" class="item-box">{{item?.username}}</div>
                            <div class="item-box-big">{{item?.errorList.join(';')}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="current==2" class="import-success">
            <div class="title">
                <h5>
                    <span class="success-icon">
                        <i class="iconfont icon-chenggong"></i>
                    </span>
                    <span class="import-success">导入完成</span>
                </h5>
            </div>
            <div class="import-success-ok">
                <h5>导入学时信息：</h5>
                <div>
                    <div class="list-title">
                        <div class="title-item-small-box">工号</div>
                        <div class="title-item-small-box">学时</div>
                        <div class="title-item">培训名称</div>
                        <div class="title-item">培训地点</div>
                        <div class="title-item">培训内容</div>
                    </div>
                    <div class="list-box" *ngIf="importOkData.length">
                        <div class="sigle-box" *ngFor="let item of importOkData">
                            <div class="item-box-small-box">{{item?.username}}</div>
                            <div class="item-box-small-box">{{item?.periodNumber}}</div>
                            <div class="item-box">{{item?.trainName}}</div>
                            <div class="item-box">{{item?.trainPlace}}</div>
                            <div style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" [title]="item?.trainName" class="item-box-big">{{item?.trainName}}</div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <div class="steps-action">
        <button nz-button [nzType]="'primary'" (click)="pre()" *ngIf="current > 0">
            <span>上一步</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="next()" *ngIf="current === 0&&status!='ansyfail'">
            <span>下一步</span>
        </button>
        <button [nzLoading]="loading" nz-button [nzType]="'primary'" (click)="next()" *ngIf="current === 1">
            <span>导入</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 2">
            <span>完成</span>
        </button>
        <button nz-button [nzType]="'primary'" [disabled]="true" *ngIf="status=='ansyfail'">解析失败</button>
        <div *ngIf="status=='ansyfail'" style="color:red;font-family:'Arial, sans-serif';margin-top:8px;">{{failmessage}}</div>
    </div>
</div>