<div class="container-fluid">
    <div class="page-header">
        <h3 class="page-title">图片推荐
            <small>设置课程共创图片轮播推荐内容</small>
        </h3>

        <div class="actions pull-right">
        </div>
    </div>

    <div class="page-body">
        <div *ngFor="let banner of banners">
            <ng-container *ngTemplateOutlet="bannerItem; context: {banner: banner}"></ng-container>
        </div>
        <div class="p-4 text-center bg-light border-secondary mb-4 text-secondary" style="cursor:pointer;" (click)="addBanner();">
            <i class="fa fa-2x fa-plus"></i>
        </div>
    </div>
</div>

<ng-template #bannerItem let-banner="banner">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div class="image">
                    <!-- <img [src]="banner.imageUrl" [alt]="banner.name" width="500" height="160"> -->
                    <cui-fileupload [imageHolder]="banner.imageUrl" mode="image" name="files" url="/api/upload/files" [auto]="true" (uploadComplete)="onImageUpload($event,banner)"></cui-fileupload>
                </div>
                <div class="info" style="width: 500px">
                    <form nz-form>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>文字标题</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="20">
                                <input type="text" nz-input name="name" [(ngModel)]="banner.name">
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>链接地址</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="20">
                                <input type="text" nz-input name="link" [(ngModel)]="banner.link">
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label>背景颜色</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="10">
                                <input type="text" nz-input name="backgroundColor" [(ngModel)]="banner.backgroundColor">
                            </div>
                            <div nz-form-control nz-col [nzSpan]="10" class="p-1">
                                <div style="width: 100%; height: 2rem;" [style.backgroundColor]="banner.backgroundColor"></div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="4">
                                    <label>排序</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="20">
                                    <button type="button" class="btn btn-info" [disabled]='!banner.up' (click)="moveBanner(banner,'up')">
                                        <i class="fa fa-long-arrow-up"></i> 上移</button>
                                    <button type="button" class="btn btn-info" [disabled]='!banner.down' (click)="moveBanner(banner,'down')">
                                        <i class="fa fa-long-arrow-down"></i> 下移</button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="ml-auto">
                    <button nz-button [nzType]="'primary'"  [nzLoading]="loading" (click)="updateBanner(banner)">
                        <i class="fa fa-save"></i> 保存</button>
                    <button nz-button  [nzType]="'danger'"  (click)="deleteBanner(banner)">
                        <i class="fa fa-trash"></i> 删除</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>