.left {
    margin-left: 4%;
}

:host ::ng-deep .adject-left {
    .cui-data-table-wrap {
        width: 100%;
        .table {
            .left-p{
                text-align: left;
            }
            .center-p{
                text-align: center;
            }
            tbody {
                .form-control {
                    display: inline;
                    width: unset;
                    padding: 3px;
                }
                input{
                    text-align: right;
                }
                .score-le{
                    float: left;
                    width: 60%;
                    text-align: left;
                }
                .score-ri{
                    float: right;
                    width: 40%;
                    text-align: left;
                }
            }
        }
    }
}